In [86]:
import pandas as pd
import re
import numpy as np
import textwrap

import matplotlib.pyplot as plt
import seaborn as sns

In [87]:
data = pd.read_csv('../fraud_tools_team_ds_test/synthetic_dirty_transaction_logs.csv')

In [88]:
data.head()

                                             raw_log
0  2025-07-05 19:18:10::user1069::withdrawal::299...
1                                                NaN
2                                      MALFORMED_LOG
3  usr:user1076|cashout|€4821.85|Glasgow|2025-07-...
4  2025-07-20 05:38:14 >> [user1034] did top-up -...

In [89]:
data[data['raw_log'] == None]

Empty DataFrame
Columns: [raw_log]
Index: []

In [90]:
data[data['raw_log'] == 'MALFORMED_LOG']

            raw_log
2     MALFORMED_LOG
7     MALFORMED_LOG
12    MALFORMED_LOG
16    MALFORMED_LOG
17    MALFORMED_LOG
...             ...
9932  MALFORMED_LOG
9934  MALFORMED_LOG
9944  MALFORMED_LOG
9964  MALFORMED_LOG
9977  MALFORMED_LOG

[1102 rows x 1 columns]

In [91]:
data[data.isnull().any(axis=1)]

     raw_log
1        NaN
28       NaN
45       NaN
57       NaN
61       NaN
...      ...
9971     NaN
9986     NaN
9990     NaN
9996     NaN
9998     NaN

[1124 rows x 1 columns]

In [92]:
data['raw_log'] = data['raw_log'].apply(lambda x: np.nan if x == 'MALFORMED_LOG' else x)

In [93]:
data.isnull().sum()

raw_log    2226
dtype: int64

In [94]:
data = data.dropna(subset=['raw_log'], ignore_index=True)

In [95]:
data.shape

(7774, 1)

In [96]:
data

                                                raw_log
0     2025-07-05 19:18:10::user1069::withdrawal::299...
1     usr:user1076|cashout|€4821.85|Glasgow|2025-07-...
2     2025-07-20 05:38:14 >> [user1034] did top-up -...
3     2025-06-13 10:04:51 >> [user1068] did deposit ...
4     2025-07-29 23:47:37 | user: user1014 | txn: de...
...                                                 ...
7769  usr:user1058|debit|£3992.06|Leeds|2025-06-10 0...
7770  08/07/2025 08:50:09 ::: user1069 *** WITHDRAWA...
7771  2025-07-31 07:41:34::user1024::deposit::1331.2...
7772  2025-06-23 05:14:03 >> [user1029] did withdraw...
7773  2025-07-27 17:57:22::user1048::refund::2988.49...

[7774 rows x 1 columns]

In [97]:
data.isnull().sum()

raw_log    0
dtype: int64

In [98]:
data['raw_log'].head() # .to_list()

0    2025-07-05 19:18:10::user1069::withdrawal::299...
1    usr:user1076|cashout|€4821.85|Glasgow|2025-07-...
2    2025-07-20 05:38:14 >> [user1034] did top-up -...
3    2025-06-13 10:04:51 >> [user1068] did deposit ...
4    2025-07-29 23:47:37 | user: user1014 | txn: de...
Name: raw_log, dtype: object

# Potential Features:
- User: user1043, user1034, etc.
- Timestamp: 2025-07-05 06:12:48, 04/07/2025 01:08:12
- Action: withdrawal, deposit, purchase, refund, etc.
- Amount: £4803.93, $1194.19, 2804.97£
- Currency: £, $, €
- Location: Liverpool, Glasgow, Birmingham
- Device: IiPhone 13, Pixel 6, Huawei P30, etc.

# Extract User_id

In [99]:
data.head()

                                             raw_log
0  2025-07-05 19:18:10::user1069::withdrawal::299...
1  usr:user1076|cashout|€4821.85|Glasgow|2025-07-...
2  2025-07-20 05:38:14 >> [user1034] did top-up -...
3  2025-06-13 10:04:51 >> [user1068] did deposit ...
4  2025-07-29 23:47:37 | user: user1014 | txn: de...

In [100]:
data['raw_log'] #.to_list()

0       2025-07-05 19:18:10::user1069::withdrawal::299...
1       usr:user1076|cashout|€4821.85|Glasgow|2025-07-...
2       2025-07-20 05:38:14 >> [user1034] did top-up -...
3       2025-06-13 10:04:51 >> [user1068] did deposit ...
4       2025-07-29 23:47:37 | user: user1014 | txn: de...
                              ...
7769    usr:user1058|debit|£3992.06|Leeds|2025-06-10 0...
7770    08/07/2025 08:50:09 ::: user1069 *** WITHDRAWA...
7771    2025-07-31 07:41:34::user1024::deposit::1331.2...
7772    2025-06-23 05:14:03 >> [user1029] did withdraw...
7773    2025-07-27 17:57:22::user1048::refund::2988.49...
Name: raw_log, Length: 7774, dtype: object

In [101]:
user_id_pattern = re.compile(r"""
   .*?(?:user[:=]?|user\s)?(?P<user>user\d{4}) 
""", re.VERBOSE)

text = textwrap.dedent("""
                '2025-07-05 19:18:10::user1069::withdrawal::2995.12::London::iPhone 13',
                'usr:user1076|cashout|€4821.85|Glasgow|2025-07-15 12:56:05|Pixel 6',
                '2025-07-20 05:38:14 >> [user1034] did top-up - amt=€2191.06 - None // dev:iPhone 13',
                '2025-06-13 10:04:51 >> [user1068] did deposit - amt=€1691.09 - Glasgow // dev:None',
                '2025-07-29 23:47:37 | user: user1014 | txn: deposit of £3539.5 from Glasgow | device: iPhone 13',
                '2025-06-23 14:45:58 - user=user1075 - action=debit $1215.74 - ATM: Leeds - device=Samsung Galaxy S10',
                '2025-07-31 06:50:50 | user: user1071 | txn: cashout of $1772.13 from None | device: Nokia 3310',
                '2025-07-07 20:42:12 - user=user1098 - action=deposit €304.0 - ATM: Birmingham - device=Nokia 3310',
                """)

matches = user_id_pattern.findall(text)
print("Matches found:", matches)

Matches found: ['user1069', 'user1076', 'user1034', 'user1068', 'user1014', 'user1075', 'user1071', 'user1098']

In [102]:
data['raw_log'].apply(lambda x: user_id_pattern.findall(x)[0])

0       user1069
1       user1076
2       user1034
3       user1068
4       user1014
          ...
7769    user1058
7770    user1069
7771    user1024
7772    user1029
7773    user1048
Name: raw_log, Length: 7774, dtype: object

In [103]:
# Check for missing patterns

data[data['raw_log'].apply(lambda x: user_id_pattern.findall(x)[0]) == np.nan]

Empty DataFrame
Columns: [raw_log]
Index: []

In [104]:
data['user_id'] = data['raw_log'].apply(lambda x: user_id_pattern.findall(x)[0])

In [105]:
data.isnull().sum()

raw_log    0
user_id    0
dtype: int64

# Extract Time-Stamp

In [106]:
time_stamp_pattern = re.compile(r"""
    (?P<timestamp>                                              # Timestamps
        \d{4}-\d{2}-\d{2} \s \d{2}:\d{2}:\d{2}(?=::)?            # e.g., 2025-07-05 19:18:10
        |
        \d{2}/\d{2}/\d{4} \s \d{2}:\d{2}:\d{2}                   # e.g., 04/07/2025 01:08:12
    )
""", re.VERBOSE)

text = textwrap.dedent("""
        '2025-07-05 19:18:10::user1069::withdrawal::2995.12::London::iPhone 13',
        'usr:user1076|cashout|€4821.85|Glasgow|2025-07-15 12:56:05|Pixel 6',
        '2025-07-20 05:38:14 >> [user1034] did top-up - amt=€2191.06 - None // dev:iPhone 13',
        '2025-06-13 10:04:51 >> [user1068] did deposit - amt=€1691.09 - Glasgow // dev:None',
        '2025-06-23 14:45:58 - user=user1075 - action=debit $1215.74 - ATM: Leeds - device=Samsung Galaxy S10',
        '2025-07-31 06:50:50 | user: user1071 | txn: cashout of $1772.13 from None | device: Nokia 3310',
        '24/07/2025 22:47:06 ::: user1080 *** PURCHASE ::: amt:951.85$ @ Liverpool <Xiaomi Mi 11>',
        '2025-06-10 20:06:30 >> [user1025] did withdrawal - amt=€3261.07 - London // dev:iPhone 13',
        '14/06/2025 07:25:39 ::: user1019 *** CASHOUT ::: amt:2428.72£ @ Leeds <iPhone 13>',
        'user1093 2025-07-05 14:11:06 withdrawal 4926.56 None Huawei P30',
        '2025-07-05 06:12:48 - user=user1043 - action=withdrawal £4803.93 - ATM: Liverpool - device=iPhone 13',
        '2025-07-23 15:57:12 | user: user1098 | txn: purchase of €2019.47 from Glasgow | device: None',
        '2025-06-23 10:05:51 >> [user1048] did deposit - amt=€2096.71 - Birmingham // dev:Huawei P30',
        'usr:user1034|top-up|$1194.19|Liverpool|2025-06-24 05:06:27|Pixel 6',
        '2025-06-25 07:18:59 - user=user1008 - action=top-up £4645.16 - ATM: London - device=Xiaomi Mi 11',
        '2025-07-17 23:05:52 >> [user1011] did purchase - amt=£2529.92 - Birmingham // dev:iPhone 13',
        '2025-06-22 21:50:40 - user=user1003 - action=refund £4658.85 - ATM: Liverpool - device=Huawei P30',
        '2025-07-04 02:49:11::user1083::transfer::1362.47::Glasgow::Pixel 6',
        'user1077 2025-06-26 03:04:52 refund 2527.54 London iPhone 13',
        '04/07/2025 01:08:12 ::: user1046 *** CASHOUT ::: amt:2804.97£ @ Manchester <Pixel 6>',
        '09/06/2025 22:58:25 ::: user1074 *** WITHDRAWAL ::: amt:4173.14€ @ Liverpool <Xiaomi Mi 11>',
        '2025-07-08 14:07:36 >> [user1086] did refund - amt=£1823.89 - Birmingham // dev:Samsung Galaxy S10',
""")

matches = time_stamp_pattern.findall(text)
print("Matches found:", matches)

Matches found: ['2025-07-05 19:18:10', '2025-07-15 12:56:05', '2025-07-20 05:38:14', '2025-06-13 10:04:51', '2025-06-23 14:45:58', '2025-07-31 06:50:50', '24/07/2025 22:47:06', '2025-06-10 20:06:30', '14/06/2025 07:25:39', '2025-07-05 14:11:06', '2025-07-05 06:12:48', '2025-07-23 15:57:12', '2025-06-23 10:05:51', '2025-06-24 05:06:27', '2025-06-25 07:18:59', '2025-07-17 23:05:52', '2025-06-22 21:50:40', '2025-07-04 02:49:11', '2025-06-26 03:04:52', '04/07/2025 01:08:12', '09/06/2025 22:58:25', '2025-07-08 14:07:36']

In [107]:
data['raw_log'].apply(lambda x: time_stamp_pattern.findall(x)[0])

0       2025-07-05 19:18:10
1       2025-07-15 12:56:05
2       2025-07-20 05:38:14
3       2025-06-13 10:04:51
4       2025-07-29 23:47:37
               ...
7769    2025-06-10 03:55:41
7770    08/07/2025 08:50:09
7771    2025-07-31 07:41:34
7772    2025-06-23 05:14:03
7773    2025-07-27 17:57:22
Name: raw_log, Length: 7774, dtype: object

In [108]:
data['timestamp'] = data['raw_log'].apply(lambda x: time_stamp_pattern.findall(x)[0])

In [109]:
data.isnull().sum()

raw_log      0
user_id      0
timestamp    0
dtype: int64

# Extract Action: withdrawal, deposit, purchase, refund, etc.

In [110]:


action_pattern = re.compile(r"""
       (?:did|action=|\*\*\*|::)?\s*                # non-capturing: possible preamble
    (?P<action>deposit|withdrawal|cashout|top-?up|purchase|debit|refund|transfer|purchase)  # the action     # deposite, withdrawal, refund
    
""", re.VERBOSE)

text = textwrap.dedent("""
        '2025-07-05 19:18:10::user1069::withdrawal::2995.12::London::iPhone 13',
        'usr:user1076|cashout|€4821.85|Glasgow|2025-07-15 12:56:05|Pixel 6',
        '2025-07-20 05:38:14 >> [user1034] did top-up - amt=€2191.06 - None // dev:iPhone 13',
        '2025-06-13 10:04:51 >> [user1068] did deposit - amt=€1691.09 - Glasgow // dev:None',
        '2025-06-23 14:45:58 - user=user1075 - action=debit $1215.74 - ATM: Leeds - device=Samsung Galaxy S10',
        '2025-07-31 06:50:50 | user: user1071 | txn: cashout of $1772.13 from None | device: Nokia 3310',
        '24/07/2025 22:47:06 ::: user1080 *** PURCHASE ::: amt:951.85$ @ Liverpool <Xiaomi Mi 11>'
""")

matches = action_pattern.findall(text.lower())
print("Matches found:", len(matches), matches)

Matches found: 7 ['withdrawal', 'cashout', 'top-up', 'deposit', 'debit', 'cashout', 'purchase']

In [111]:
action_pattern = re.compile(r"""
       (?:did|action=|\*\*\*|::)?\s*                # non-capturing: possible preamble
    (?P<action>deposit|withdrawal|cashout|top-?up|purchase|debit|refund|transfer|purchase)  # the action     # deposite, withdrawal, refund
    
""", re.VERBOSE)

text = textwrap.dedent("""
        '2025-07-05 19:18:10::user1069::withdrawal::2995.12::London::iPhone 13',
        'usr:user1076|cashout|€4821.85|Glasgow|2025-07-15 12:56:05|Pixel 6',
        '2025-07-20 05:38:14 >> [user1034] did top-up - amt=€2191.06 - None // dev:iPhone 13',
        '2025-06-13 10:04:51 >> [user1068] did deposit - amt=€1691.09 - Glasgow // dev:None',
        '2025-06-23 14:45:58 - user=user1075 - action=debit $1215.74 - ATM: Leeds - device=Samsung Galaxy S10',
        '2025-07-31 06:50:50 | user: user1071 | txn: cashout of $1772.13 from None | device: Nokia 3310',
        '24/07/2025 22:47:06 ::: user1080 *** PURCHASE ::: amt:951.85$ @ Liverpool <Xiaomi Mi 11>',
        '2025-06-10 20:06:30 >> [user1025] did withdrawal - amt=€3261.07 - London // dev:iPhone 13',
        '14/06/2025 07:25:39 ::: user1019 *** CASHOUT ::: amt:2428.72£ @ Leeds <iPhone 13>',
        'user1093 2025-07-05 14:11:06 withdrawal 4926.56 None Huawei P30',
        '2025-07-05 06:12:48 - user=user1043 - action=withdrawal £4803.93 - ATM: Liverpool - device=iPhone 13',
        '2025-07-23 15:57:12 | user: user1098 | txn: purchase of €2019.47 from Glasgow | device: None',
        '2025-06-23 10:05:51 >> [user1048] did deposit - amt=€2096.71 - Birmingham // dev:Huawei P30',
        'usr:user1034|top-up|$1194.19|Liverpool|2025-06-24 05:06:27|Pixel 6',
        '2025-06-25 07:18:59 - user=user1008 - action=top-up £4645.16 - ATM: London - device=Xiaomi Mi 11',
        '2025-07-17 23:05:52 >> [user1011] did purchase - amt=£2529.92 - Birmingham // dev:iPhone 13',
        '2025-06-22 21:50:40 - user=user1003 - action=refund £4658.85 - ATM: Liverpool - device=Huawei P30',
        '2025-07-04 02:49:11::user1083::transfer::1362.47::Glasgow::Pixel 6',
        'user1077 2025-06-26 03:04:52 refund 2527.54 London iPhone 13',
        '04/07/2025 01:08:12 ::: user1046 *** CASHOUT ::: amt:2804.97£ @ Manchester <Pixel 6>',
        '09/06/2025 22:58:25 ::: user1074 *** WITHDRAWAL ::: amt:4173.14€ @ Liverpool <Xiaomi Mi 11>',
        '2025-07-08 14:07:36 >> [user1086] did refund - amt=£1823.89 - Birmingham // dev:Samsung Galaxy S10',
""")

matches = action_pattern.findall(text.lower())
print("Matches found:", len(matches), matches)

Matches found: 22 ['withdrawal', 'cashout', 'top-up', 'deposit', 'debit', 'cashout', 'purchase', 'withdrawal', 'cashout', 'withdrawal', 'withdrawal', 'purchase', 'deposit', 'top-up', 'top-up', 'purchase', 'refund', 'transfer', 'refund', 'cashout', 'withdrawal', 'refund']

In [112]:
data['raw_log'].apply(lambda x: (action_pattern.findall(x.lower()))[0])

0       withdrawal
1          cashout
2           top-up
3          deposit
4          deposit
           ...
7769         debit
7770    withdrawal
7771       deposit
7772    withdrawal
7773        refund
Name: raw_log, Length: 7774, dtype: object

In [113]:
# Check for missing patterns
data[data['raw_log'].apply(lambda x: (action_pattern.findall(x.lower()))[0]) == np.nan]

Empty DataFrame
Columns: [raw_log, user_id, timestamp]
Index: []

In [114]:
data['action'] = data['raw_log'].apply(lambda x: (action_pattern.findall(x.lower()))[0])

In [115]:
data.isnull().sum()

raw_log      0
user_id      0
timestamp    0
action       0
dtype: int64

# Extract Amount

In [116]:
amount_pattern = re.compile(r"""
    (?:amt[:=]?\s*|of\s+)?                # optional prefix
    (?:[€$£])?                            # optional non-captured currency
    (?P<amount>                           # named group (amount only)
        (?:\d{1,3}(?:,\d{3})*|\d+)        # integer part
        \.\d{1,2}                           # decimal part
    )
""", re.VERBOSE)

text = textwrap.dedent("""
                '2025-07-05 19:18:10::user1069::withdrawal::2995.12::London::iPhone 13',
                'usr:user1076|cashout|€4821.85|Glasgow|2025-07-15 12:56:05|Pixel 6',
                '2025-07-20 05:38:14 >> [user1034] did top-up - amt=€2191.06 - None // dev:iPhone 13',
                '2025-06-13 10:04:51 >> [user1068] did deposit - amt=€1691.09 - Glasgow // dev:None',
                '2025-07-29 23:47:37 | user: user1014 | txn: deposit of £3539.5 from Glasgow | device: iPhone 13',
                '2025-06-23 14:45:58 - user=user1075 - action=debit $1215.74 - ATM: Leeds - device=Samsung Galaxy S10',
                '2025-07-31 06:50:50 | user: user1071 | txn: cashout of $1772.13 from None | device: Nokia 3310',
                '2025-07-07 20:42:12 - user=user1098 - action=deposit €304.0 - ATM: Birmingham - device=Nokia 3310',
                '24/07/2025 22:47:06 ::: user1080 *** PURCHASE ::: amt:951.85$ @ Liverpool <Xiaomi Mi 11>',
                '2025-06-10 20:06:30 >> [user1025] did withdrawal - amt=€3261.07 - London // dev:iPhone 13',
                '14/06/2025 07:25:39 ::: user1019 *** CASHOUT ::: amt:2428.72£ @ Leeds <iPhone 13>',
                'user1093 2025-07-05 14:11:06 withdrawal 4926.56 None Huawei P30',
                '2025-07-05 06:12:48 - user=user1043 - action=withdrawal £4803.93 - ATM: Liverpool - device=iPhone 13',
                '2025-07-23 15:57:12 | user: user1098 | txn: purchase of €2019.47 from Glasgow | device: None',
                '2025-06-23 10:05:51 >> [user1048] did deposit - amt=€2096.71 - Birmingham // dev:Huawei P30',
                'usr:user1034|top-up|$1194.19|Liverpool|2025-06-24 05:06:27|Pixel 6',
                '2025-06-25 07:18:59 - user=user1008 - action=top-up £4645.16 - ATM: London - device=Xiaomi Mi 11',
                '2025-07-17 23:05:52 >> [user1011] did purchase - amt=£2529.92 - Birmingham // dev:iPhone 13',
                '2025-06-22 21:50:40 - user=user1003 - action=refund £4658.85 - ATM: Liverpool - device=Huawei P30',
                '2025-07-04 02:49:11::user1083::transfer::1362.47::Glasgow::Pixel 6',
                'user1077 2025-06-26 03:04:52 refund 2527.54 London iPhone 13',
                '04/07/2025 01:08:12 ::: user1046 *** CASHOUT ::: amt:2804.97£ @ Manchester <Pixel 6>',
                '09/06/2025 22:58:25 ::: user1074 *** WITHDRAWAL ::: amt:4173.14€ @ Liverpool <Xiaomi Mi 11>',
                '2025-07-08 14:07:36 >> [user1086] did refund - amt=£1823.89 - Birmingham // dev:Samsung Galaxy S10',
""")

matches = amount_pattern.findall(text)
print("Matches found:", len(matches), matches)

Matches found: 24 ['2995.12', '4821.85', '2191.06', '1691.09', '3539.5', '1215.74', '1772.13', '304.0', '951.85', '3261.07', '2428.72', '4926.56', '4803.93', '2019.47', '2096.71', '1194.19', '4645.16', '2529.92', '4658.85', '1362.47', '2527.54', '2804.97', '4173.14', '1823.89']

In [117]:
data['raw_log'].head(6).to_list()

['2025-07-05 19:18:10::user1069::withdrawal::2995.12::London::iPhone 13',
 'usr:user1076|cashout|€4821.85|Glasgow|2025-07-15 12:56:05|Pixel 6',
 '2025-07-20 05:38:14 >> [user1034] did top-up - amt=€2191.06 - None // dev:iPhone 13',
 '2025-06-13 10:04:51 >> [user1068] did deposit - amt=€1691.09 - Glasgow // dev:None',
 '2025-07-29 23:47:37 | user: user1014 | txn: deposit of £3539.5 from Glasgow | device: iPhone 13',
 '2025-06-23 14:45:58 - user=user1075 - action=debit $1215.74 - ATM: Leeds - device=Samsung Galaxy S10']

In [118]:
data['raw_log'].apply(lambda x: (amount_pattern.findall(x))[0])

0       2995.12
1       4821.85
2       2191.06
3       1691.09
4        3539.5
         ...
7769    3992.06
7770    1401.58
7771     1331.2
7772    4203.63
7773    2988.49
Name: raw_log, Length: 7774, dtype: object

In [119]:
# Check for missing patterns
data[data['raw_log'].apply(lambda x: (amount_pattern.findall(x.lower()))[0]) == np.nan]

Empty DataFrame
Columns: [raw_log, user_id, timestamp, action]
Index: []

In [120]:
data['amount'] = data['raw_log'].apply(lambda x: (amount_pattern.findall(x.lower()))[0])

In [121]:
data.head()

,raw_log,user_id,timestamp,action,amount
0,2025-07-05 19:18:10::user1069::withdrawal::299...,user1069,2025-07-05 19:18:10,withdrawal,2995.12
1,usr:user1076|cashout|€4821.85|Glasgow|2025-07-...,user1076,2025-07-15 12:56:05,cashout,4821.85
2,2025-07-20 05:38:14 >> [user1034] did top-up -...,user1034,2025-07-20 05:38:14,top-up,2191.06
3,2025-06-13 10:04:51 >> [user1068] did deposit ...,user1068,2025-06-13 10:04:51,deposit,1691.09
4,2025-07-29 23:47:37 | user: user1014 | txn: de...,user1014,2025-07-29 23:47:37,deposit,3539.5

In [122]:
data.isnull().sum()

raw_log      0
user_id      0
timestamp    0
action       0
amount       0
dtype: int64

# Extract Currency

In [123]:
currency_pattern = re.compile(r"""
        (?:\|\s*amt[:=]?\d+)? # optional prefix
        ([$€£])                 # currency symbol
        (?:\d+\s*)?                 #optional suffix
""", re.VERBOSE)

text = textwrap.dedent("""
                '2025-07-05 19:18:10::user1069::withdrawal::2995.12::London::iPhone 13',
                'usr:user1076|cashout|€4821.85|Glasgow|2025-07-15 12:56:05|Pixel 6',
                '2025-07-20 05:38:14 >> [user1034] did top-up - amt=€2191.06 - None // dev:iPhone 13',
                '2025-06-13 10:04:51 >> [user1068] did deposit - amt=€1691.09 - Glasgow // dev:None',
                '2025-07-29 23:47:37 | user: user1014 | txn: deposit of £3539.5 from Glasgow | device: iPhone 13',
                '2025-06-23 14:45:58 - user=user1075 - action=debit $1215.74 - ATM: Leeds - device=Samsung Galaxy S10',
                '2025-07-31 06:50:50 | user: user1071 | txn: cashout of $1772.13 from None | device: Nokia 3310',
                '2025-07-07 20:42:12 - user=user1098 - action=deposit €304.0 - ATM: Birmingham - device=Nokia 3310',
                '24/07/2025 22:47:06 ::: user1080 *** PURCHASE ::: amt:951.85$ @ Liverpool <Xiaomi Mi 11>',
                '2025-06-10 20:06:30 >> [user1025] did withdrawal - amt=€3261.07 - London // dev:iPhone 13',
                '14/06/2025 07:25:39 ::: user1019 *** CASHOUT ::: amt:2428.72£ @ Leeds <iPhone 13>',
                'user1093 2025-07-05 14:11:06 withdrawal 4926.56 None Huawei P30',
                '2025-07-05 06:12:48 - user=user1043 - action=withdrawal £4803.93 - ATM: Liverpool - device=iPhone 13',
                '2025-07-23 15:57:12 | user: user1098 | txn: purchase of €2019.47 from Glasgow | device: None',
                '2025-06-23 10:05:51 >> [user1048] did deposit - amt=€2096.71 - Birmingham // dev:Huawei P30',
                'usr:user1034|top-up|$1194.19|Liverpool|2025-06-24 05:06:27|Pixel 6',
                '2025-06-25 07:18:59 - user=user1008 - action=top-up £4645.16 - ATM: London - device=Xiaomi Mi 11',
                '2025-07-17 23:05:52 >> [user1011] did purchase - amt=£2529.92 - Birmingham // dev:iPhone 13',
                '2025-06-22 21:50:40 - user=user1003 - action=refund £4658.85 - ATM: Liverpool - device=Huawei P30',
                '2025-07-04 02:49:11::user1083::transfer::1362.47::Glasgow::Pixel 6',
                'user1077 2025-06-26 03:04:52 refund 2527.54 London iPhone 13',
                '04/07/2025 01:08:12 ::: user1046 *** CASHOUT ::: amt:2804.97£ @ Manchester <Pixel 6>',
                '09/06/2025 22:58:25 ::: user1074 *** WITHDRAWAL ::: amt:4173.14€ @ Liverpool <Xiaomi Mi 11>',
                '2025-07-08 14:07:36 >> [user1086] did refund - amt=£1823.89 - Birmingham // dev:Samsung Galaxy S10',
""")

matches = currency_pattern.findall(text)
print("Matches found:", len(matches), matches)

Matches found: 20 ['€', '€', '€', '£', '$', '$', '€', '$', '€', '£', '£', '€', '€', '$', '£', '£', '£', '£', '€', '£']

In [124]:
data['raw_log'].apply(lambda x: (currency_pattern.findall(x))[0] if (currency_pattern.findall(x)) != [] else np.nan)

0       NaN
1         €
2         €
3         €
4         £
       ...
7769      £
7770      €
7771    NaN
7772      £
7773    NaN
Name: raw_log, Length: 7774, dtype: object

In [125]:
data['currency'] = data['raw_log'].apply(lambda x: (currency_pattern.findall(x))[0] if (currency_pattern.findall(x)) != [] else np.nan)

In [126]:
data.isnull().sum()

raw_log         0
user_id         0
timestamp       0
action          0
amount          0
currency     2241
dtype: int64

In [127]:
data[data['currency'].isnull()]['raw_log'].head(10).to_list()

['2025-07-05 19:18:10::user1069::withdrawal::2995.12::London::iPhone 13',
 'user1093 2025-07-05 14:11:06 withdrawal 4926.56 None Huawei P30',
 '2025-07-04 02:49:11::user1083::transfer::1362.47::Glasgow::Pixel 6',
 'user1077 2025-06-26 03:04:52 refund 2527.54 London iPhone 13',
 'user1069 2025-07-27 06:27:32 cashout 4497.62 Cardiff iPhone 13',
 '2025-07-05 11:01:54::user1081::purchase::1821.74::Birmingham::None',
 'user1068 2025-06-19 05:02:27 deposit 3599.05 Cardiff Pixel 6',
 'user1020 2025-07-30 02:28:05 cashout 3486.34 Liverpool Samsung Galaxy S10',
 'user1020 2025-07-28 17:58:48 withdrawal 232.02 Manchester Xiaomi Mi 11',
 '2025-06-10 09:06:24::user1005::debit::388.34::Glasgow::Huawei P30']

# Extract Location

In [128]:
location_pattern = re.compile(r"""
        (?:\:\|\s*)?           # optional prefix
        (?P<location>london|glasgow|leeds|birmingham|liverpool|manchester|cardiff)                # location
        (?:\:\s*)?                 #optional suffix
""", re.VERBOSE)

text = textwrap.dedent("""
                '2025-07-05 19:18:10::user1069::withdrawal::2995.12::London::iPhone 13',
                'usr:user1076|cashout|€4821.85|Glasgow|2025-07-15 12:56:05|Pixel 6',
                '2025-07-20 05:38:14 >> [user1034] did top-up - amt=€2191.06 - None // dev:iPhone 13',
                '2025-06-13 10:04:51 >> [user1068] did deposit - amt=€1691.09 - Glasgow // dev:None',
                '2025-07-29 23:47:37 | user: user1014 | txn: deposit of £3539.5 from Glasgow | device: iPhone 13',
                '2025-06-23 14:45:58 - user=user1075 - action=debit $1215.74 - ATM: Leeds - device=Samsung Galaxy S10',
                '2025-07-31 06:50:50 | user: user1071 | txn: cashout of $1772.13 from None | device: Nokia 3310',
                '2025-07-07 20:42:12 - user=user1098 - action=deposit €304.0 - ATM: Birmingham - device=Nokia 3310',
                '24/07/2025 22:47:06 ::: user1080 *** PURCHASE ::: amt:951.85$ @ Liverpool <Xiaomi Mi 11>',
                '2025-06-10 20:06:30 >> [user1025] did withdrawal - amt=€3261.07 - London // dev:iPhone 13',
                '14/06/2025 07:25:39 ::: user1019 *** CASHOUT ::: amt:2428.72£ @ Leeds <iPhone 13>',
                'user1093 2025-07-05 14:11:06 withdrawal 4926.56 None Huawei P30',
                '2025-07-05 06:12:48 - user=user1043 - action=withdrawal £4803.93 - ATM: Liverpool - device=iPhone 13',
                '2025-07-23 15:57:12 | user: user1098 | txn: purchase of €2019.47 from Glasgow | device: None',
                '2025-06-23 10:05:51 >> [user1048] did deposit - amt=€2096.71 - Birmingham // dev:Huawei P30',
                'usr:user1034|top-up|$1194.19|Liverpool|2025-06-24 05:06:27|Pixel 6',
                '2025-06-25 07:18:59 - user=user1008 - action=top-up £4645.16 - ATM: London - device=Xiaomi Mi 11',
                '2025-07-17 23:05:52 >> [user1011] did purchase - amt=£2529.92 - Birmingham // dev:iPhone 13',
                '2025-06-22 21:50:40 - user=user1003 - action=refund £4658.85 - ATM: Liverpool - device=Huawei P30',
                '2025-07-04 02:49:11::user1083::transfer::1362.47::Glasgow::Pixel 6',
                'user1077 2025-06-26 03:04:52 refund 2527.54 London iPhone 13',
                '04/07/2025 01:08:12 ::: user1046 *** CASHOUT ::: amt:2804.97£ @ Manchester <Pixel 6>',
                '09/06/2025 22:58:25 ::: user1074 *** WITHDRAWAL ::: amt:4173.14€ @ Liverpool <Xiaomi Mi 11>',
                '2025-07-08 14:07:36 >> [user1086] did refund - amt=£1823.89 - Birmingham // dev:Samsung Galaxy S10',
""")

matches = location_pattern.findall(text.lower())
print("Matches found:", len(matches), matches)

Matches found: 21 ['london', 'glasgow', 'glasgow', 'glasgow', 'leeds', 'birmingham', 'liverpool', 'london', 'leeds', 'liverpool', 'glasgow', 'birmingham', 'liverpool', 'london', 'birmingham', 'liverpool', 'glasgow', 'london', 'manchester', 'liverpool', 'birmingham']

In [129]:
data['raw_log'].apply(lambda x: (location_pattern.findall(x.lower()))[0] if (location_pattern.findall(x.lower())) != [] else np.nan)

0           london
1          glasgow
2              NaN
3          glasgow
4          glasgow
           ...
7769         leeds
7770    birmingham
7771       cardiff
7772        london
7773         leeds
Name: raw_log, Length: 7774, dtype: object

In [130]:
data['location'] = data['raw_log'].apply(lambda x: (location_pattern.findall(x.lower()))[0] if (location_pattern.findall(x.lower())) != [] else np.nan)

In [131]:
data.isnull().sum()

raw_log         0
user_id         0
timestamp       0
action          0
amount          0
currency     2241
location      968
dtype: int64

In [132]:
# check raw log if regex missed locations that are present
data[data['location'].isnull()]['raw_log'].to_list()

['2025-07-20 05:38:14 >> [user1034] did top-up - amt=€2191.06 - None // dev:iPhone 13',
 '2025-07-31 06:50:50 | user: user1071 | txn: cashout of $1772.13 from None | device: Nokia 3310',
 'user1093 2025-07-05 14:11:06 withdrawal 4926.56 None Huawei P30',
 '2025-07-24 02:04:16 >> [user1058] did deposit - amt=£1913.33 - None // dev:Samsung Galaxy S10',
 '2025-06-22 11:35:36 >> [user1067] did purchase - amt=$3592.01 - None // dev:Xiaomi Mi 11',
 '2025-07-17 19:56:26 >> [user1040] did transfer - amt=$3718.53 - None // dev:Huawei P30',
 '2025-06-14 11:55:14 >> [user1070] did refund - amt=€3829.3 - None // dev:Pixel 6',
 'usr:user1040|deposit|£2820.28|None|2025-07-28 01:03:02|Pixel 6',
 '25/07/2025 20:53:01 ::: user1050 *** DEPOSIT ::: amt:2168.18$ @ None <Pixel 6>',
 'user1077 2025-07-20 01:34:56 refund 4408.27 None None',
 '2025-06-19 19:01:52 | user: user1025 | txn: purchase of €3453.36 from None | device: Xiaomi Mi 11',
 '2025-06-13 01:12:45 | user: user1011 | txn: refund of £3487.39 from None | device: iPhone 13',
 '2025-07-03 20:35:13 - user=user1072 - action=refund $3498.97 - ATM: None - device=Xiaomi Mi 11',
 '2025-06-22 13:29:45 | user: user1031 | txn: withdrawal of €3288.64 from None | device: Xiaomi Mi 11',
 '2025-06-28 13:15:51 | user: user1048 | txn: top-up of $3113.55 from None | device: Nokia 3310',
 'usr:user1027|deposit|£3238.9|None|2025-07-11 13:23:12|Pixel 6',
 '05/06/2025 12:32:35 ::: user1029 *** REFUND ::: amt:4187.54€ @ None <Nokia 3310>',
 'usr:user1020|purchase|€3238.61|None|2025-07-17 08:46:01|Pixel 6',
 '2025-07-12 21:06:52::user1068::deposit::3728.58::None::Nokia 3310',
 'user1043 2025-07-20 04:44:32 withdrawal 3370.17 None Pixel 6',
 'usr:user1089|refund|€3391.41|None|2025-06-24 05:02:13|None',
 '2025-06-14 19:11:39::user1081::withdrawal::4831.03::None::Nokia 3310',
 '2025-06-22 17:58:58::user1043::debit::2320.3::None::Pixel 6',
 'usr:user1059|top-up|£755.64|None|2025-07-05 19:05:18|Xiaomi Mi 11',
 '2025-07-01 04:57:41::user1046::debit::2507.34::None::iPhone 13',
 'usr:user1012|top-up|€3391.86|None|2025-07-15 00:58:51|Xiaomi Mi 11',
 '2025-06-11 05:33:59::user1054::transfer::4365.14::None::Nokia 3310',
 '2025-07-30 11:38:43 - user=user1069 - action=purchase €2099.71 - ATM: None - device=iPhone 13',
 'usr:user1067|transfer|£4057.68|None|2025-07-06 07:26:21|iPhone 13',
 'user1075 2025-06-16 21:43:35 deposit 329.67 None None',
 '2025-07-01 12:03:10 >> [user1011] did withdrawal - amt=$791.24 - None // dev:Xiaomi Mi 11',
 '2025-06-18 19:07:42 | user: user1033 | txn: debit of $3543.99 from None | device: Nokia 3310',
 '2025-07-21 19:13:54 | user: user1071 | txn: purchase of €2052.48 from None | device: Nokia 3310',
 '2025-07-02 08:50:59::user1068::cashout::1569.45::None::None',
 '2025-07-29 06:56:35 >> [user1068] did debit - amt=£4446.41 - None // dev:Huawei P30',
 '28/07/2025 14:16:31 ::: user1055 *** PURCHASE ::: amt:311.56£ @ None <Huawei P30>',
 'usr:user1054|withdrawal|£4672.98|None|2025-06-05 09:13:02|iPhone 13',
 '2025-07-21 12:48:13::user1046::purchase::1651.98::None::Nokia 3310',
 '2025-07-23 00:28:28 - user=user1092 - action=top-up $1542.8 - ATM: None - device=Xiaomi Mi 11',
 '2025-07-15 18:55:00 | user: user1003 | txn: transfer of €46.7 from None | device: Huawei P30',
 '2025-07-14 20:07:47 >> [user1090] did cashout - amt=$396.02 - None // dev:None',
 '2025-06-26 05:28:37 | user: user1033 | txn: withdrawal of €1149.6 from None | device: Huawei P30',
 '2025-06-04 04:49:36::user1017::refund::3917.96::None::Samsung Galaxy S10',
 '2025-06-27 13:01:18 >> [user1027] did top-up - amt=£1259.25 - None // dev:None',
 'usr:user1055|deposit|$4095.01|None|2025-07-11 09:35:15|Samsung Galaxy S10',
 'user1048 2025-07-04 13:01:15 withdrawal 3687.2 None None',
 '2025-07-21 02:14:54::user1045::debit::570.66::None::None',
 '2025-06-20 23:02:45 | user: user1050 | txn: refund of $702.34 from None | device: None',
 '2025-06-27 18:07:09 - user=user1096 - action=refund $3139.44 - ATM: None - device=iPhone 13',
 '2025-06-15 23:41:14::user1081::refund::3473.82::None::Xiaomi Mi 11',
 '2025-06-22 15:50:26 | user: user1059 | txn: debit of £82.39 from None | device: Xiaomi Mi 11',
 'usr:user1095|withdrawal|£4770.44|None|2025-07-16 17:54:21|Nokia 3310',
 '2025-06-18 03:41:02::user1020::refund::1637.18::None::iPhone 13',
 '2025-06-05 05:00:22 - user=user1087 - action=refund €2494.96 - ATM: None - device=iPhone 13',
 '2025-06-08 20:29:17 >> [user1020] did cashout - amt=€4828.17 - None // dev:None',
 '2025-06-20 17:38:13 | user: user1028 | txn: cashout of $2760.72 from None | device: Nokia 3310',
 'usr:user1043|transfer|€3606.69|None|2025-07-26 02:32:24|Huawei P30',
 '2025-07-11 21:35:30 - user=user1033 - action=transfer £2881.82 - ATM: None - device=Nokia 3310',
 '2025-07-20 15:16:41 >> [user1017] did deposit - amt=£1414.25 - None // dev:Samsung Galaxy S10',
 '2025-06-08 03:28:48 - user=user1011 - action=debit $441.01 - ATM: None - device=Huawei P30',
 '2025-06-27 07:05:33::user1034::top-up::2801.19::None::Pixel 6',
 '14/07/2025 00:42:39 ::: user1033 *** WITHDRAWAL ::: amt:2766.58$ @ None <None>',
 'user1018 2025-06-15 06:55:12 top-up 3552.05 None None',
 '2025-06-27 05:08:54 | user: user1097 | txn: top-up of €2572.03 from None | device: Xiaomi Mi 11',
 'user1037 2025-07-28 02:25:27 refund 3033.22 None Xiaomi Mi 11',
 '2025-07-28 10:07:56::user1048::deposit::4500.69::None::Xiaomi Mi 11',
 '09/07/2025 22:53:14 ::: user1049 *** TRANSFER ::: amt:3786.27£ @ None <Samsung Galaxy S10>',
 '2025-07-19 21:20:05 >> [user1028] did top-up - amt=$3601.56 - None // dev:Xiaomi Mi 11',
 'usr:user1071|debit|€894.42|None|2025-06-27 23:37:22|Huawei P30',
 'user1032 2025-07-29 14:26:37 withdrawal 4022.04 None None',
 '2025-06-25 14:45:39 >> [user1046] did refund - amt=$3471.27 - None // dev:Nokia 3310',
 '2025-07-09 13:10:42 | user: user1077 | txn: top-up of $4806.23 from None | device: None',
 '2025-06-22 01:35:49 | user: user1053 | txn: deposit of €3379.38 from None | device: None',
 '2025-07-30 05:59:12 | user: user1064 | txn: transfer of $271.69 from None | device: None',
 '2025-07-17 04:06:59 - user=user1037 - action=transfer $301.12 - ATM: None - device=Nokia 3310',
 '06/07/2025 16:06:19 ::: user1035 *** PURCHASE ::: amt:1237.74$ @ None <Pixel 6>',
 '2025-06-27 08:01:35::user1089::debit::3089.03::None::Samsung Galaxy S10',
 '2025-07-05 02:55:29 >> [user1075] did refund - amt=£3878.49 - None // dev:Samsung Galaxy S10',
 '2025-06-30 22:27:29 - user=user1058 - action=deposit £66.42 - ATM: None - device=Nokia 3310',
 '2025-07-20 08:40:58::user1033::top-up::3288.0::None::Huawei P30',
 '2025-06-01 22:54:09 | user: user1038 | txn: refund of $1800.68 from None | device: Xiaomi Mi 11',
 '2025-06-27 08:21:39 | user: user1020 | txn: deposit of €932.9 from None | device: None',
 '2025-06-07 20:50:57::user1077::purchase::331.62::None::Pixel 6',
 '2025-06-26 11:25:50 | user: user1059 | txn: withdrawal of $2603.72 from None | device: Nokia 3310',
 '25/06/2025 13:30:23 ::: user1043 *** WITHDRAWAL ::: amt:2098.49$ @ None <Huawei P30>',
 '2025-07-11 02:16:37 >> [user1058] did debit - amt=£2717.96 - None // dev:Samsung Galaxy S10',
 '26/06/2025 02:34:44 ::: user1027 *** DEPOSIT ::: amt:1557.58$ @ None <iPhone 13>',
 '2025-06-22 19:33:29::user1077::cashout::1960.19::None::None',
 '18/06/2025 11:58:05 ::: user1082 *** CASHOUT ::: amt:3852.07£ @ None <Pixel 6>',
 '09/07/2025 11:15:14 ::: user1050 *** PURCHASE ::: amt:3051.9£ @ None <iPhone 13>',
 '2025-07-24 22:42:44 >> [user1083] did top-up - amt=€2433.03 - None // dev:Pixel 6',
 '09/06/2025 17:32:06 ::: user1012 *** DEPOSIT ::: amt:3983.27€ @ None <Xiaomi Mi 11>',
 '2025-06-05 07:55:01 - user=user1074 - action=transfer £791.07 - ATM: None - device=None',
 '2025-07-19 08:21:00 >> [user1015] did deposit - amt=€2059.07 - None // dev:Nokia 3310',
 '2025-06-16 03:19:51 >> [user1019] did refund - amt=£561.01 - None // dev:Samsung Galaxy S10',
 'usr:user1014|top-up|€2431.26|None|2025-07-14 03:09:10|Xiaomi Mi 11',
 '2025-06-02 11:03:33 - user=user1058 - action=refund £979.38 - ATM: None - device=Pixel 6',
 '2025-07-21 03:29:09 - user=user1065 - action=cashout €4341.86 - ATM: None - device=Pixel 6',
 'usr:user1027|deposit|£4094.4|None|2025-06-14 08:36:48|Huawei P30',
 '2025-07-02 08:41:27::user1028::debit::552.47::None::Nokia 3310',
 '2025-07-19 19:10:59 - user=user1040 - action=top-up €897.31 - ATM: None - device=Pixel 6',
 'usr:user1082|debit|$3333.72|None|2025-07-10 14:42:50|None',
 '2025-06-05 17:03:31 >> [user1020] did debit - amt=$541.08 - None // dev:Xiaomi Mi 11',
 '2025-07-19 16:02:35 | user: user1051 | txn: top-up of $4264.52 from None | device: iPhone 13',
 '18/06/2025 05:41:33 ::: user1043 *** REFUND ::: amt:4423.62£ @ None <Xiaomi Mi 11>',
 'user1027 2025-07-16 22:00:27 withdrawal 2692.55 None Pixel 6',
 '2025-07-03 21:50:21 | user: user1063 | txn: cashout of €1333.83 from None | device: None',
 '2025-06-04 19:47:43 >> [user1008] did deposit - amt=€2832.58 - None // dev:Xiaomi Mi 11',
 'usr:user1097|deposit|$876.6|None|2025-07-27 10:27:41|Xiaomi Mi 11',
 '2025-06-05 12:54:13 | user: user1014 | txn: deposit of £2675.02 from None | device: Xiaomi Mi 11',
 'user1005 2025-06-24 17:34:40 deposit 4116.17 None Pixel 6',
 '22/07/2025 22:01:04 ::: user1019 *** WITHDRAWAL ::: amt:3207.22£ @ None <Nokia 3310>',
 '2025-07-05 12:40:05 | user: user1080 | txn: top-up of €2914.93 from None | device: iPhone 13',
 '2025-06-19 04:45:16 | user: user1028 | txn: withdrawal of £261.51 from None | device: Huawei P30',
 'usr:user1069|top-up|£221.77|None|2025-07-01 11:11:00|Nokia 3310',
 '2025-07-01 18:22:17 >> [user1019] did transfer - amt=€2778.82 - None // dev:iPhone 13',
 '22/07/2025 22:19:03 ::: user1089 *** WITHDRAWAL ::: amt:1150.07£ @ None <Huawei P30>',
 'usr:user1029|debit|€4153.67|None|2025-06-08 19:57:36|Xiaomi Mi 11',
 '08/07/2025 20:33:50 ::: user1020 *** WITHDRAWAL ::: amt:1647.81£ @ None <Huawei P30>',
 'user1081 2025-07-14 16:15:20 purchase 2448.63 None Huawei P30',
 '2025-06-24 22:48:42::user1008::cashout::4344.03::None::Huawei P30',
 '2025-06-06 13:10:10::user1090::cashout::4445.81::None::None',
 'user1075 2025-06-08 05:40:25 transfer 998.22 None iPhone 13',
 '2025-07-27 13:34:34::user1040::purchase::4438.01::None::Pixel 6',
 '20/07/2025 23:35:57 ::: user1095 *** PURCHASE ::: amt:4114.39$ @ None <iPhone 13>',
 'user1081 2025-06-11 19:12:51 cashout 4360.2 None Pixel 6',
 '2025-07-04 14:17:49 - user=user1029 - action=purchase €916.2 - ATM: None - device=iPhone 13',
 '04/06/2025 15:28:54 ::: user1065 *** DEBIT ::: amt:4501.54$ @ None <Nokia 3310>',
 'usr:user1048|top-up|€2705.43|None|2025-07-09 18:25:17|Pixel 6',
 '2025-07-01 03:34:25 | user: user1076 | txn: top-up of £2009.59 from None | device: Nokia 3310',
 '2025-06-22 04:14:12 - user=user1074 - action=withdrawal €4462.97 - ATM: None - device=Pixel 6',
 '2025-07-14 21:32:20 >> [user1028] did debit - amt=£1853.03 - None // dev:iPhone 13',
 '2025-06-16 16:21:42 - user=user1071 - action=purchase €4717.79 - ATM: None - device=Nokia 3310',
 'usr:user1058|deposit|£3913.45|None|2025-06-05 14:51:06|iPhone 13',
 '2025-07-03 15:43:02 - user=user1057 - action=debit £1046.98 - ATM: None - device=Nokia 3310',
 'usr:user1031|purchase|$2374.41|None|2025-07-18 06:01:36|Pixel 6',
 'usr:user1035|cashout|€4089.66|None|2025-07-13 08:21:50|Samsung Galaxy S10',
 '2025-06-15 16:12:46 >> [user1019] did purchase - amt=€2512.87 - None // dev:Huawei P30',
 '14/06/2025 13:01:44 ::: user1034 *** WITHDRAWAL ::: amt:3387.24£ @ None <Huawei P30>',
 '2025-06-03 02:42:44 | user: user1032 | txn: deposit of $1953.7 from None | device: iPhone 13',
 '2025-07-28 10:49:33 >> [user1048] did deposit - amt=$300.56 - None // dev:Huawei P30',
 '2025-07-14 13:54:56 | user: user1076 | txn: cashout of £2607.84 from None | device: Pixel 6',
 '2025-07-09 12:14:19::user1048::debit::1416.85::None::iPhone 13',
 '2025-07-11 08:50:34 - user=user1020 - action=refund £33.1 - ATM: None - device=iPhone 13',
 '2025-07-15 02:07:28::user1014::cashout::3015.32::None::Xiaomi Mi 11',
 '2025-06-25 02:52:58 >> [user1035] did deposit - amt=€1367.99 - None // dev:Pixel 6',
 '06/06/2025 05:29:10 ::: user1008 *** TRANSFER ::: amt:2886.21$ @ None <Huawei P30>',
 '2025-07-27 05:24:37 - user=user1068 - action=withdrawal €2934.67 - ATM: None - device=Huawei P30',
 '2025-07-14 01:35:18::user1001::withdrawal::4677.14::None::iPhone 13',
 'usr:user1003|cashout|€4163.57|None|2025-07-31 02:25:20|None',
 '2025-07-08 00:33:10 - user=user1027 - action=deposit $1745.34 - ATM: None - device=iPhone 13',
 'user1081 2025-06-22 04:14:04 deposit 1492.39 None Nokia 3310',
 '2025-07-02 11:52:53::user1098::top-up::567.79::None::Xiaomi Mi 11',
 '2025-06-21 19:48:11 | user: user1081 | txn: top-up of £991.55 from None | device: Xiaomi Mi 11',
 'user1086 2025-06-24 13:52:01 top-up 3224.23 None iPhone 13',
 'usr:user1008|transfer|$1334.52|None|2025-07-27 16:30:46|Huawei P30',
 'user1081 2025-07-02 22:35:20 transfer 2970.65 None None',
 '2025-07-27 01:00:02 | user: user1043 | txn: deposit of $834.06 from None | device: Samsung Galaxy S10',
 '29/07/2025 06:28:31 ::: user1063 *** TOP-UP ::: amt:1442.75£ @ None <Pixel 6>',
 '2025-07-25 15:05:01 >> [user1098] did deposit - amt=£3999.13 - None // dev:iPhone 13',
 '2025-07-01 18:47:31 >> [user1099] did deposit - amt=£1454.72 - None // dev:Huawei P30',
 '2025-07-04 13:58:51 | user: user1057 | txn: cashout of $3350.73 from None | device: Nokia 3310',
 '2025-06-21 20:51:48 | user: user1091 | txn: debit of €124.26 from None | device: Xiaomi Mi 11',
 '2025-07-15 22:40:30 | user: user1086 | txn: top-up of $4814.02 from None | device: Huawei P30',
 '2025-07-13 21:32:19 >> [user1096] did deposit - amt=€2497.67 - None // dev:Huawei P30',
 '2025-07-02 02:56:36::user1043::debit::951.49::None::None',
 '2025-06-17 05:52:15 >> [user1058] did purchase - amt=$3252.03 - None // dev:Huawei P30',
 '2025-07-02 12:32:18 | user: user1013 | txn: purchase of €3492.01 from None | device: iPhone 13',
 'user1054 2025-06-26 11:26:50 refund 4273.02 None iPhone 13',
 '2025-07-27 22:24:50::user1004::debit::87.32::None::iPhone 13',
 '2025-07-02 04:07:11::user1014::withdrawal::922.09::None::None',
 'usr:user1033|withdrawal|€3035.9|None|2025-06-30 04:17:40|Huawei P30',
 '2025-07-08 06:41:40 - user=user1019 - action=deposit €2093.71 - ATM: None - device=Pixel 6',
 'user1011 2025-07-11 13:57:33 top-up 4749.65 None Pixel 6',
 '2025-07-03 05:22:28 >> [user1029] did transfer - amt=$593.64 - None // dev:Xiaomi Mi 11',
 '07/06/2025 12:45:48 ::: user1089 *** DEBIT ::: amt:4069.53€ @ None <Huawei P30>',
 '2025-06-15 04:15:10 - user=user1050 - action=cashout €2989.61 - ATM: None - device=Huawei P30',
 'user1034 2025-07-30 05:49:50 cashout 3524.39 None None',
 'usr:user1044|deposit|€1322.09|None|2025-06-11 22:11:08|Xiaomi Mi 11',
 '2025-07-29 10:40:09 >> [user1080] did purchase - amt=$420.36 - None // dev:None',
 '2025-06-18 15:18:12 >> [user1090] did purchase - amt=$3775.43 - None // dev:Huawei P30',
 '03/06/2025 23:15:36 ::: user1074 *** DEBIT ::: amt:1655.84£ @ None <None>',
 '2025-07-31 00:55:58::user1092::top-up::890.88::None::Nokia 3310',
 '28/06/2025 12:04:19 ::: user1006 *** TOP-UP ::: amt:1744.95€ @ None <Nokia 3310>',
 'user1096 2025-06-12 06:11:34 cashout 3431.81 None Pixel 6',
 'usr:user1064|deposit|£631.15|None|2025-07-24 00:19:04|Xiaomi Mi 11',
 '2025-06-29 10:18:53 - user=user1034 - action=debit £3445.27 - ATM: None - device=iPhone 13',
 'user1058 2025-07-07 11:48:13 deposit 3057.32 None None',
 'user1028 2025-06-13 16:50:41 withdrawal 3757.19 None Samsung Galaxy S10',
 '2025-07-27 00:44:10 - user=user1031 - action=top-up £3049.45 - ATM: None - device=Pixel 6',
 '22/06/2025 03:25:49 ::: user1096 *** DEBIT ::: amt:2296.51€ @ None <Samsung Galaxy S10>',
 '2025-06-23 06:39:35 - user=user1097 - action=withdrawal €1817.5 - ATM: None - device=Xiaomi Mi 11',
 '2025-06-02 09:45:10 - user=user1054 - action=purchase €1138.7 - ATM: None - device=Xiaomi Mi 11',
 'usr:user1064|debit|£3887.2|None|2025-06-09 23:44:19|iPhone 13',
 '27/06/2025 22:22:10 ::: user1089 *** TRANSFER ::: amt:2438.41$ @ None <Xiaomi Mi 11>',
 'usr:user1018|refund|€1600.76|None|2025-07-21 09:52:18|iPhone 13',
 'usr:user1075|cashout|£1768.71|None|2025-07-16 01:40:36|Nokia 3310',
 'usr:user1080|purchase|€3987.58|None|2025-06-20 12:44:03|Nokia 3310',
 'usr:user1094|cashout|€3439.32|None|2025-07-15 14:30:39|Samsung Galaxy S10',
 '2025-07-18 18:54:51 - user=user1081 - action=debit £4618.11 - ATM: None - device=Samsung Galaxy S10',
 '2025-06-23 13:59:20 >> [user1095] did transfer - amt=£3993.16 - None // dev:None',
 'usr:user1015|deposit|$3252.51|None|2025-06-21 09:57:44|iPhone 13',
 '2025-06-11 01:39:14::user1035::cashout::1613.34::None::Xiaomi Mi 11',
 'usr:user1048|cashout|£2261.07|None|2025-06-07 09:59:20|None',
 '2025-07-08 01:35:32 - user=user1046 - action=top-up $4035.14 - ATM: None - device=Pixel 6',
 '2025-07-16 10:40:34 - user=user1048 - action=debit £1494.81 - ATM: None - device=Samsung Galaxy S10',
 'usr:user1089|debit|£2130.13|None|2025-06-17 20:07:43|Nokia 3310',
 'user1058 2025-07-01 06:42:12 cashout 3328.48 None None',
 '2025-06-10 09:20:28 - user=user1064 - action=top-up £3905.06 - ATM: None - device=Nokia 3310',
 '27/06/2025 20:32:22 ::: user1025 *** DEPOSIT ::: amt:3197.62$ @ None <Pixel 6>',
 '2025-07-11 00:42:36::user1077::cashout::1011.54::None::Huawei P30',
 '2025-07-08 04:41:53::user1006::transfer::484.01::None::None',
 'user1096 2025-06-29 23:36:01 withdrawal 2301.73 None None',
 '2025-06-08 04:36:23::user1011::cashout::4024.76::None::Samsung Galaxy S10',
 '2025-06-14 06:37:39 >> [user1001] did purchase - amt=£1413.53 - None // dev:Nokia 3310',
 '2025-06-28 02:04:00 | user: user1068 | txn: refund of £4213.33 from None | device: Huawei P30',
 '25/07/2025 02:43:59 ::: user1048 *** PURCHASE ::: amt:4751.1€ @ None <Samsung Galaxy S10>',
 '2025-07-13 12:19:21 | user: user1049 | txn: top-up of £2191.1 from None | device: None',
 '13/06/2025 23:12:25 ::: user1096 *** PURCHASE ::: amt:754.27$ @ None <Samsung Galaxy S10>',
 '07/06/2025 15:18:59 ::: user1009 *** TOP-UP ::: amt:2917.66$ @ None <Huawei P30>',
 'user1013 2025-06-30 14:27:02 withdrawal 1514.25 None Xiaomi Mi 11',
 '05/07/2025 06:15:39 ::: user1059 *** PURCHASE ::: amt:2380.74£ @ None <None>',
 'user1084 2025-06-13 21:55:22 purchase 950.54 None Xiaomi Mi 11',
 'usr:user1037|purchase|$4550.82|None|2025-06-13 14:41:25|Nokia 3310',
 'usr:user1076|top-up|$407.46|None|2025-06-11 19:49:51|None',
 '28/06/2025 12:54:02 ::: user1046 *** WITHDRAWAL ::: amt:620.45$ @ None <Huawei P30>',
 '27/07/2025 07:23:51 ::: user1008 *** REFUND ::: amt:113.77€ @ None <iPhone 13>',
 'usr:user1097|refund|€3549.8|None|2025-06-13 06:02:07|Samsung Galaxy S10',
 '2025-07-12 03:16:19 >> [user1081] did withdrawal - amt=$4367.73 - None // dev:Nokia 3310',
 'usr:user1088|transfer|$2901.48|None|2025-07-01 18:49:08|Huawei P30',
 '2025-07-18 02:03:05::user1032::withdrawal::3395.91::None::Huawei P30',
 '2025-07-24 07:06:51::user1034::cashout::3745.51::None::iPhone 13',
 '2025-06-24 07:48:35 - user=user1005 - action=purchase $3320.52 - ATM: None - device=Samsung Galaxy S10',
 '2025-06-14 23:01:54 - user=user1017 - action=transfer £4306.07 - ATM: None - device=None',
 '2025-06-29 17:24:54 >> [user1077] did top-up - amt=€916.21 - None // dev:Huawei P30',
 '2025-06-09 05:03:42::user1059::debit::3585.49::None::None',
 '19/06/2025 11:25:48 ::: user1048 *** DEPOSIT ::: amt:4236.56$ @ None <Xiaomi Mi 11>',
 '2025-06-30 07:02:34 - user=user1009 - action=cashout $103.45 - ATM: None - device=Xiaomi Mi 11',
 'user1035 2025-07-22 13:02:25 withdrawal 1436.73 None Pixel 6',
 'user1092 2025-06-17 14:36:02 debit 1858.46 None Samsung Galaxy S10',
 '2025-07-17 04:31:52::user1021::withdrawal::2242.34::None::Huawei P30',
 '2025-06-13 11:19:52 - user=user1004 - action=transfer $4294.34 - ATM: None - device=Nokia 3310',
 '2025-06-22 15:49:58 - user=user1058 - action=debit £4575.75 - ATM: None - device=iPhone 13',

# Device

In [133]:
device_pattern = re.compile(r"""
    (?:device\s*[:=]\s*|dev\s*[:=]\s*|\s*<\s*|\s*\:\:\s*|\s*\|\s*|\s+\b)
    (?P<device>(?!None\b)(?:iPhone|Samsung|Pixel|Nokia|Xiaomi|Huawei)(?:\s+(?:\d+|[A-Z]\w*))*)\b                   
""", re.VERBOSE | re.IGNORECASE)

text = textwrap.dedent("""
                '2025-07-05 19:18:10::user1069::withdrawal::2995.12::London::iPhone 13',
                'usr:user1076|cashout|€4821.85|Glasgow|2025-07-15 12:56:05|Pixel 6',
                '2025-07-20 05:38:14 >> [user1034] did top-up - amt=€2191.06 - None // dev:iPhone 13',
                '2025-06-13 10:04:51 >> [user1068] did deposit - amt=€1691.09 - Glasgow // dev:None',
                '2025-07-29 23:47:37 | user: user1014 | txn: deposit of £3539.5 from Glasgow | device: iPhone 13',
                '2025-06-23 14:45:58 - user=user1075 - action=debit $1215.74 - ATM: Leeds - device=Samsung Galaxy S10',
                '2025-07-31 06:50:50 | user: user1071 | txn: cashout of $1772.13 from None | device: Nokia 3310',
                '2025-07-07 20:42:12 - user=user1098 - action=deposit €304.0 - ATM: Birmingham - device=Nokia 3310',
                '24/07/2025 22:47:06 ::: user1080 *** PURCHASE ::: amt:951.85$ @ Liverpool <Xiaomi Mi 11>',
                '2025-06-10 20:06:30 >> [user1025] did withdrawal - amt=€3261.07 - London // dev:iPhone 13',
                '14/06/2025 07:25:39 ::: user1019 *** CASHOUT ::: amt:2428.72£ @ Leeds <iPhone 13>',
                'user1093 2025-07-05 14:11:06 withdrawal 4926.56 None Huawei P30',
                '2025-07-05 06:12:48 - user=user1043 - action=withdrawal £4803.93 - ATM: Liverpool - device=iPhone 13',
                '2025-07-23 15:57:12 | user: user1098 | txn: purchase of €2019.47 from Glasgow | device: None',
                '2025-06-23 10:05:51 >> [user1048] did deposit - amt=€2096.71 - Birmingham // dev:Huawei P30',
                'usr:user1034|top-up|$1194.19|Liverpool|2025-06-24 05:06:27|Pixel 6',
                '2025-06-25 07:18:59 - user=user1008 - action=top-up £4645.16 - ATM: London - device=Xiaomi Mi 11',
                '2025-07-17 23:05:52 >> [user1011] did purchase - amt=£2529.92 - Birmingham // dev:iPhone 13',
                '2025-06-22 21:50:40 - user=user1003 - action=refund £4658.85 - ATM: Liverpool - device=Huawei P30',
                '2025-07-04 02:49:11::user1083::transfer::1362.47::Glasgow::Pixel 6',
                'user1077 2025-06-26 03:04:52 refund 2527.54 London iPhone 13',
                '04/07/2025 01:08:12 ::: user1046 *** CASHOUT ::: amt:2804.97£ @ Manchester <Pixel 6>',
                '09/06/2025 22:58:25 ::: user1074 *** WITHDRAWAL ::: amt:4173.14€ @ Liverpool <Xiaomi Mi 11>',
                '2025-07-08 14:07:36 >> [user1086] did refund - amt=£1823.89 - Birmingham // dev:Samsung Galaxy S10',
""")

matches = device_pattern.findall(text)
print("Matches found:", len(matches), matches)

Matches found: 22 ['iPhone 13', 'Pixel 6', 'iPhone 13', 'iPhone 13', 'Samsung Galaxy S10', 'Nokia 3310', 'Nokia 3310', 'Xiaomi Mi 11', 'iPhone 13', 'iPhone 13', 'Huawei P30', 'iPhone 13', 'Huawei P30', 'Pixel 6', 'Xiaomi Mi 11', 'iPhone 13', 'Huawei P30', 'Pixel 6', 'iPhone 13', 'Pixel 6', 'Xiaomi Mi 11', 'Samsung Galaxy S10']

In [134]:
data['raw_log'].apply(lambda x: device_pattern.findall(x)[0] if device_pattern.findall(x) != [] else np.nan)

0          iPhone 13
1            Pixel 6
2          iPhone 13
3                NaN
4          iPhone 13
            ...
7769         Pixel 6
7770      Nokia 3310
7771      Nokia 3310
7772    Xiaomi Mi 11
7773    Xiaomi Mi 11
Name: raw_log, Length: 7774, dtype: object

In [135]:
data['device'] = data['raw_log'].apply(lambda x: device_pattern.findall(x)[0] if device_pattern.findall(x) != [] else np.nan)

In [136]:
data.isnull().sum()

raw_log         0
user_id         0
timestamp       0
action          0
amount          0
currency     2241
location      968
device       1081
dtype: int64

In [137]:
# check the raw logs of those with null device
data[data['device'].isnull()]['raw_log'].to_list()

['2025-06-13 10:04:51 >> [user1068] did deposit - amt=€1691.09 - Glasgow // dev:None',
 '2025-07-23 15:57:12 | user: user1098 | txn: purchase of €2019.47 from Glasgow | device: None',
 '30/07/2025 04:54:02 ::: user1096 *** DEPOSIT ::: amt:1769.04€ @ Leeds <None>',
 '2025-07-05 11:01:54::user1081::purchase::1821.74::Birmingham::None',
 'user1077 2025-07-20 01:34:56 refund 4408.27 None None',
 '2025-07-21 12:27:25 | user: user1087 | txn: refund of €1702.35 from Cardiff | device: None',
 'usr:user1087|withdrawal|€4447.23|Birmingham|2025-07-10 09:46:29|None',
 'user1088 2025-07-20 22:06:28 transfer 375.07 Birmingham None',
 'user1010 2025-06-14 17:47:12 top-up 1874.83 Glasgow None',
 '2025-06-26 08:30:06 >> [user1065] did transfer - amt=£850.75 - Leeds // dev:None',
 '2025-07-16 11:09:32::user1059::withdrawal::1545.36::London::None',
 'user1028 2025-07-11 05:36:37 debit 1843.56 Cardiff None',
 'usr:user1020|withdrawal|£1387.1|Liverpool|2025-07-07 22:10:59|None',
 'usr:user1011|purchase|€4036.3|London|2025-07-31 09:23:03|None',
 'usr:user1089|refund|€3391.41|None|2025-06-24 05:02:13|None',
 'user1077 2025-07-18 13:32:48 cashout 4222.58 Leeds None',
 'user1037 2025-06-19 11:14:46 cashout 8.82 Glasgow None',
 'usr:user1022|cashout|€395.56|Liverpool|2025-06-24 16:58:13|None',
 '2025-07-09 09:49:32::user1081::top-up::2220.25::Liverpool::None',
 'user1075 2025-06-16 21:43:35 deposit 329.67 None None',
 '2025-06-09 04:19:13 | user: user1070 | txn: transfer of £3839.14 from Leeds | device: None',
 '20/06/2025 18:46:10 ::: user1005 *** TRANSFER ::: amt:3125.49€ @ Manchester <None>',
 '2025-07-15 06:05:36::user1035::cashout::4953.09::Cardiff::None',
 '2025-07-02 08:50:59::user1068::cashout::1569.45::None::None',
 '20/06/2025 16:05:25 ::: user1033 *** DEBIT ::: amt:503.62£ @ London <None>',
 '2025-07-06 05:00:36 | user: user1087 | txn: withdrawal of £4539.78 from Glasgow | device: None',
 'user1081 2025-06-07 10:43:01 withdrawal 4892.47 Leeds None',
 '2025-06-19 16:36:01::user1037::purchase::4079.12::Birmingham::None',
 '2025-07-24 21:30:00 | user: user1064 | txn: debit of €921.05 from London | device: None',
 'usr:user1071|withdrawal|€84.61|Cardiff|2025-06-24 09:18:25|None',
 '2025-07-14 20:07:47 >> [user1090] did cashout - amt=$396.02 - None // dev:None',
 '2025-07-07 22:45:47 - user=user1064 - action=debit €4226.8 - ATM: Birmingham - device=None',
 '2025-06-27 13:01:18 >> [user1027] did top-up - amt=£1259.25 - None // dev:None',
 'user1087 2025-07-07 17:13:02 top-up 832.53 London None',
 'user1048 2025-07-04 13:01:15 withdrawal 3687.2 None None',
 '2025-07-21 02:14:54::user1045::debit::570.66::None::None',
 '2025-07-08 21:36:27 - user=user1008 - action=transfer €4068.88 - ATM: Cardiff - device=None',
 'user1021 2025-07-04 04:43:49 transfer 2554.61 Liverpool None',
 '16/07/2025 07:24:21 ::: user1041 *** TRANSFER ::: amt:2433.86€ @ Liverpool <None>',
 '2025-06-20 23:02:45 | user: user1050 | txn: refund of $702.34 from None | device: None',
 '2025-07-15 19:05:51 | user: user1051 | txn: deposit of $2864.0 from Birmingham | device: None',
 '2025-07-23 12:14:29::user1019::transfer::3924.46::London::None',
 '27/07/2025 03:29:18 ::: user1005 *** DEBIT ::: amt:1343.42$ @ Birmingham <None>',
 '07/06/2025 19:20:03 ::: user1001 *** TRANSFER ::: amt:342.99€ @ London <None>',
 'user1093 2025-06-29 21:34:33 deposit 4483.07 Manchester None',
 '2025-06-12 01:18:19 | user: user1082 | txn: cashout of $564.61 from Manchester | device: None',
 '2025-07-01 05:38:32 - user=user1043 - action=transfer £3813.87 - ATM: London - device=None',
 'usr:user1094|refund|£1079.5|Leeds|2025-07-16 23:45:26|None',
 '2025-07-20 07:01:42 >> [user1074] did transfer - amt=$1388.06 - Manchester // dev:None',
 '2025-06-06 13:34:55 - user=user1097 - action=withdrawal $1675.72 - ATM: Cardiff - device=None',
 '2025-06-10 18:24:40 - user=user1063 - action=transfer $1839.07 - ATM: Manchester - device=None',
 'user1077 2025-06-11 03:54:45 cashout 4601.21 London None',
 '2025-07-19 01:39:34 >> [user1011] did refund - amt=£1399.99 - London // dev:None',
 '2025-06-08 15:14:32 | user: user1043 | txn: deposit of £1240.04 from Cardiff | device: None',
 '2025-07-16 11:06:05 | user: user1043 | txn: purchase of €2963.01 from Birmingham | device: None',
 '2025-06-21 11:15:04 >> [user1000] did top-up - amt=€4737.85 - Liverpool // dev:None',
 'user1000 2025-07-30 14:25:51 withdrawal 2157.19 Liverpool None',
 '2025-06-28 13:56:21 | user: user1064 | txn: top-up of $4041.09 from Glasgow | device: None',
 '2025-06-08 20:29:17 >> [user1020] did cashout - amt=€4828.17 - None // dev:None',
 '2025-06-14 21:48:55 - user=user1058 - action=cashout £563.48 - ATM: Liverpool - device=None',
 '2025-07-04 22:05:16 | user: user1087 | txn: purchase of $3388.8 from Leeds | device: None',
 '2025-07-08 09:17:13 | user: user1069 | txn: withdrawal of £2371.01 from Liverpool | device: None',
 'usr:user1076|cashout|£2922.85|Birmingham|2025-06-16 07:18:29|None',
 'usr:user1014|debit|€4532.73|Birmingham|2025-06-07 08:59:10|None',
 'usr:user1069|deposit|$2084.46|Manchester|2025-06-28 15:29:59|None',
 '2025-06-17 22:49:11 | user: user1063 | txn: debit of $907.12 from Birmingham | device: None',
 '2025-06-15 10:58:52 >> [user1046] did purchase - amt=$1655.14 - London // dev:None',
 '14/07/2025 00:42:39 ::: user1033 *** WITHDRAWAL ::: amt:2766.58$ @ None <None>',
 'user1018 2025-06-15 06:55:12 top-up 3552.05 None None',
 '2025-06-10 16:50:27 - user=user1098 - action=refund $4387.51 - ATM: London - device=None',
 'usr:user1098|refund|£2783.44|Liverpool|2025-06-28 02:51:35|None',
 '2025-06-20 15:46:00 >> [user1011] did withdrawal - amt=$890.78 - Manchester // dev:None',
 '2025-07-15 17:19:20 - user=user1077 - action=withdrawal £3504.71 - ATM: Birmingham - device=None',
 'user1077 2025-07-06 14:34:06 deposit 2583.8 Glasgow None',
 '20/06/2025 20:42:54 ::: user1087 *** TOP-UP ::: amt:2434.82$ @ London <None>',
 '06/06/2025 04:26:28 ::: user1057 *** TRANSFER ::: amt:674.49€ @ London <None>',
 '2025-06-11 21:21:08 | user: user1075 | txn: transfer of £1292.04 from Leeds | device: None',
 'user1032 2025-07-29 14:26:37 withdrawal 4022.04 None None',
 '2025-06-02 10:26:21 | user: user1077 | txn: deposit of $1316.2 from Manchester | device: None',
 '21/06/2025 20:52:30 ::: user1098 *** PURCHASE ::: amt:169.01€ @ Glasgow <None>',
 '2025-07-15 15:52:00 >> [user1005] did cashout - amt=$1766.29 - Leeds // dev:None',
 'usr:user1095|withdrawal|£3684.89|Manchester|2025-06-30 09:24:46|None',
 '2025-06-06 17:45:11 >> [user1097] did top-up - amt=$1738.03 - Glasgow // dev:None',
 '2025-07-09 13:10:42 | user: user1077 | txn: top-up of $4806.23 from None | device: None',
 '2025-06-22 01:35:49 | user: user1053 | txn: deposit of €3379.38 from None | device: None',
 '2025-07-30 05:59:12 | user: user1064 | txn: transfer of $271.69 from None | device: None',
 '2025-06-02 23:39:05 >> [user1077] did debit - amt=$1498.75 - Cardiff // dev:None',
 '2025-06-04 02:06:15 >> [user1080] did withdrawal - amt=€996.7 - Manchester // dev:None',
 'user1044 2025-07-05 11:06:47 deposit 2427.37 London None',
 '26/06/2025 07:01:59 ::: user1095 *** CASHOUT ::: amt:948.11€ @ Glasgow <None>',
 'user1058 2025-07-29 03:13:27 cashout 4414.24 Liverpool None',
 '16/06/2025 10:00:47 ::: user1097 *** WITHDRAWAL ::: amt:4914.8€ @ London <None>',
 '2025-07-25 14:29:30 >> [user1008] did top-up - amt=$781.38 - Birmingham // dev:None',
 '2025-06-03 15:08:46 >> [user1048] did refund - amt=£4055.56 - Leeds // dev:None',
 '19/07/2025 02:01:45 ::: user1054 *** DEPOSIT ::: amt:562.75£ @ Glasgow <None>',
 '2025-06-27 08:21:39 | user: user1020 | txn: deposit of €932.9 from None | device: None',
 '2025-07-02 14:14:16 >> [user1083] did transfer - amt=€924.55 - Cardiff // dev:None',
 '2025-07-06 20:27:26 | user: user1037 | txn: cashout of £4919.17 from Leeds | device: None',
 '2025-06-03 19:26:26 | user: user1019 | txn: debit of $2269.24 from Manchester | device: None',
 '2025-07-19 22:07:27 >> [user1049] did cashout - amt=$2070.79 - Birmingham // dev:None',
 'user1084 2025-06-04 20:15:56 withdrawal 1696.42 Liverpool None',
 '2025-06-20 19:41:04 >> [user1089] did top-up - amt=€1355.99 - Cardiff // dev:None',
 '2025-06-22 19:33:29::user1077::cashout::1960.19::None::None',
 '2025-06-25 01:56:21 - user=user1027 - action=transfer $1412.0 - ATM: Liverpool - device=None',
 '2025-07-07 15:01:41 >> [user1095] did debit - amt=$2004.68 - Glasgow // dev:None',
 '2025-07-19 19:44:21 >> [user1055] did cashout - amt=$3921.79 - Birmingham // dev:None',
 'usr:user1045|purchase|$3407.9|Cardiff|2025-06-12 04:42:14|None',
 '2025-06-28 04:30:18 | user: user1081 | txn: transfer of £4262.67 from Birmingham | device: None',
 '2025-06-18 00:13:24::user1064::purchase::3560.94::Leeds::None',
 '2025-07-08 11:15:39 - user=user1013 - action=withdrawal £1434.79 - ATM: Liverpool - device=None',
 '28/07/2025 12:33:12 ::: user1033 *** WITHDRAWAL ::: amt:1714.9£ @ Liverpool <None>',
 '2025-07-22 19:45:33 - user=user1094 - action=withdrawal £3097.37 - ATM: Glasgow - device=None',
 '2025-07-25 13:06:25 >> [user1027] did cashout - amt=€2020.16 - Manchester // dev:None',
 '19/07/2025 07:46:12 ::: user1071 *** DEBIT ::: amt:2060.74£ @ London <None>',
 '2025-07-26 19:34:51::user1014::purchase::960.32::Manchester::None',
 '2025-06-05 07:55:01 - user=user1074 - action=transfer £791.07 - ATM: None - device=None',
 '16/06/2025 23:57:39 ::: user1013 *** PURCHASE ::: amt:1239.91$ @ Glasgow <None>',
 'usr:user1034|transfer|€1865.2|Liverpool|2025-07-27 20:04:21|None',
 '2025-07-14 17:20:57 >> [user1032] did top-up - amt=$244.53 - Manchester // dev:None',
 '2025-07-12 06:58:19::user1047::transfer::3823.68::Liverpool::None',
 'usr:user1006|top-up|£4116.75|Liverpool|2025-07-03 12:25:19|None',
 '2025-06-13 06:21:46 >> [user1096] did withdrawal - amt=£3773.0 - Glasgow // dev:None',
 '2025-07-08 01:06:25::user1011::top-up::147.27::Cardiff::None',
 '2025-07-30 14:49:19 - user=user1087 - action=transfer €4275.84 - ATM: Glasgow - device=None',
 'usr:user1082|debit|$3333.72|None|2025-07-10 14:42:50|None',
 '2025-06-24 09:48:13::user1044::refund::3310.8::Cardiff::None',
 '2025-07-03 21:50:21 | user: user1063 | txn: cashout of €1333.83 from None | device: None',
 '2025-07-30 22:57:56::user1076::deposit::3588.82::Manchester::None',
 '2025-07-25 09:11:34 | user: user1005 | txn: debit of €1340.41 from Leeds | device: None',
 '2025-06-30 06:46:13 - user=user1081 - action=cashout $1001.18 - ATM: Birmingham - device=None',
 'usr:user1081|top-up|$4631.26|Cardiff|2025-07-08 16:42:30|None',
 'user1031 2025-07-19 18:11:08 debit 2926.55 Cardiff None',
 '2025-06-16 22:13:41 - user=user1048 - action=withdrawal $2642.02 - ATM: Birmingham - device=None',
 '2025-06-06 13:10:10::user1090::cashout::4445.81::None::None',
 '2025-07-21 01:57:05 >> [user1026] did cashout - amt=£570.73 - Manchester // dev:None',
 '2025-06-02 11:28:39 | user: user1007 | txn: withdrawal of £1966.94 from Liverpool | device: None',
 '2025-07-18 13:34:55::user1029::purchase::465.01::Cardiff::None',
 '16/07/2025 16:28:35 ::: user1089 *** DEPOSIT ::: amt:1848.56$ @ London <None>',
 'usr:user1087|deposit|€4329.9|London|2025-06-17 03:26:03|None',
 'user1077 2025-07-16 23:31:53 transfer 1867.15 Glasgow None',
 'usr:user1081|withdrawal|$4667.6|Cardiff|2025-07-03 17:54:16|None',
 '2025-06-30 10:00:44 | user: user1008 | txn: cashout of €329.89 from London | device: None',
 'user1034 2025-06-10 18:21:24 purchase 1848.83 Liverpool None',
 '2025-06-10 08:29:31 - user=user1068 - action=transfer $4677.56 - ATM: Cardiff - device=None',
 'user1071 2025-07-18 20:16:53 cashout 786.02 Liverpool None',
 '2025-07-18 17:45:24::user1014::transfer::2229.21::Glasgow::None',
 '2025-06-04 15:24:38 >> [user1094] did cashout - amt=$2562.99 - Birmingham // dev:None',
 'user1080 2025-07-12 00:18:28 top-up 672.2 London None',
 '2025-07-25 16:04:32 >> [user1068] did deposit - amt=$1384.53 - London // dev:None',
 '2025-06-27 17:56:12::user1077::top-up::3703.17::Manchester::None',
 '2025-07-24 14:12:43::user1020::refund::730.21::London::None',
 '2025-06-03 18:42:35::user1082::debit::898.98::Manchester::None',
 '2025-06-30 04:27:07::user1004::transfer::2885.78::Birmingham::None',
 '2025-07-11 02:32:35::user1097::refund::2944.55::Manchester::None',
 '2025-07-01 10:54:43 >> [user1087] did debit - amt=$2511.64 - Leeds // dev:None',
 '2025-06-01 23:08:08::user1027::purchase::874.9::Liverpool::None',
 'user1054 2025-07-02 16:09:46 top-up 1192.02 Glasgow None',
 'user1082 2025-06-23 07:38:26 deposit 828.43 Leeds None',
 '2025-06-07 01:10:42 >> [user1034] did refund - amt=£1035.42 - Liverpool // dev:None',
 '2025-06-04 03:32:24 - user=user1073 - action=refund $4262.52 - ATM: Cardiff - device=None',
 '20/07/2025 06:19:31 ::: user1053 *** TOP-UP ::: amt:4616.67£ @ London <None>',
 '2025-07-20 21:52:00 >> [user1015] did cashout - amt=€419.0 - Leeds // dev:None',
 '04/07/2025 00:16:38 ::: user1054 *** WITHDRAWAL ::: amt:4405.9£ @ Liverpool <None>',
 'usr:user1003|cashout|€4163.57|None|2025-07-31 02:25:20|None',
 '2025-07-06 15:44:03 - user=user1054 - action=top-up $141.22 - ATM: Liverpool - device=None',
 '2025-06-13 00:31:40 >> [user1004] did purchase - amt=$2985.96 - Glasgow // dev:None',
 '23/06/2025 14:49:05 ::: user1047 *** CASHOUT ::: amt:4482.66€ @ Manchester <None>',
 '2025-06-04 21:33:48 | user: user1043 | txn: cashout of $2530.21 from London | device: None',
 'user1038 2025-06-13 17:16:48 purchase 2101.46 Liverpool None',
 'user1011 2025-06-11 08:37:02 cashout 1209.91 Glasgow None',
 'user1059 2025-06-30 06:20:52 transfer 140.06 Manchester None',
 '2025-06-05 11:33:36 | user: user1080 | txn: refund of £4632.99 from London | device: None',
 'usr:user1064|debit|$2167.92|Leeds|2025-07-27 00:38:44|None',
 '2025-06-04 16:19:39::user1081::deposit::3036.87::Glasgow::None',
 'user1021 2025-06-30 21:44:38 deposit 2247.57 Cardiff None',
 '2025-07-17 15:27:06::user1005::cashout::597.18::Liverpool::None',
 'user1081 2025-07-02 22:35:20 transfer 2970.65 None None',
 'user1058 2025-06-17 23:02:03 transfer 1786.61 Glasgow None',
 'user1020 2025-07-17 23:25:22 refund 647.98 Birmingham None',
 '2025-07-02 02:56:36::user1043::debit::951.49::None::None',
 '2025-07-17 08:37:14 - user=user1011 - action=withdrawal £1729.88 - ATM: Leeds - device=None',
 'user1064 2025-06-21 12:50:46 purchase 3856.92 Birmingham None',
 '2025-07-02 04:07:11::user1014::withdrawal::922.09::None::None',
 '2025-07-20 04:09:57 - user=user1093 - action=deposit £4775.94 - ATM: Leeds - device=None',
 '09/06/2025 03:25:51 ::: user1054 *** PURCHASE ::: amt:2245.39$ @ Glasgow <None>',
 'usr:user1074|purchase|$3882.46|Liverpool|2025-07-24 21:33:23|None',
 '2025-06-17 19:08:14::user1038::purchase::3637.08::Liverpool::None',
 'user1034 2025-07-30 05:49:50 cashout 3524.39 None None',
 '13/07/2025 04:52:31 ::: user1026 *** WITHDRAWAL ::: amt:1543.24$ @ Glasgow <None>',
 '2025-07-29 10:40:09 >> [user1080] did purchase - amt=$420.36 - None // dev:None',
 '2025-06-22 19:13:51 - user=user1058 - action=deposit £1879.05 - ATM: Liverpool - device=None',
 '2025-07-19 13:15:36::user1010::deposit::2177.96::Cardiff::None',
 'usr:user1014|purchase|€4014.27|Birmingham|2025-07-15 12:15:04|None',
 '03/06/2025 23:15:36 ::: user1074 *** DEBIT ::: amt:1655.84£ @ None <None>',
 '2025-06-20 14:42:40 - user=user1000 - action=debit €1775.6 - ATM: Birmingham - device=None',
 'user1007 2025-06-16 11:12:52 debit 2450.98 Manchester None',
 'usr:user1047|deposit|$4555.29|London|2025-06-09 18:50:05|None',
 '2025-06-16 21:54:44 | user: user1092 | txn: transfer of €4528.72 from Birmingham | device: None',
 '2025-07-17 21:20:16 | user: user1019 | txn: deposit of $2105.51 from Leeds | device: None',
 '12/06/2025 21:47:32 ::: user1035 *** TRANSFER ::: amt:4611.85€ @ Glasgow <None>',
 'user1058 2025-07-07 11:48:13 deposit 3057.32 None None',
 'user1017 2025-07-17 19:44:42 transfer 3124.69 Birmingham None',
 'usr:user1051|cashout|£1760.77|Leeds|2025-07-19 21:54:30|None',
 'user1048 2025-06-26 08:38:25 purchase 693.72 Manchester None',
 '2025-07-11 18:23:56 | user: user1047 | txn: debit of €3498.11 from Cardiff | device: None',
 'usr:user1065|top-up|$3569.3|Liverpool|2025-06-10 11:42:40|None',
 'usr:user1031|refund|£3184.17|Glasgow|2025-06-07 01:51:16|None',
 '2025-06-22 08:32:41::user1034::transfer::2936.09::Birmingham::None',
 'usr:user1015|debit|€887.98|Cardiff|2025-06-11 23:38:12|None',
 'usr:user1003|purchase|£3666.95|Liverpool|2025-06-22 02:10:15|None',
 '2025-06-20 17:31:01 >> [user1069] did debit - amt=£417.85 - Manchester // dev:None',
 '2025-06-20 21:25:17 >> [user1020] did cashout - amt=£4121.73 - Cardiff // dev:None',
 '2025-07-03 21:48:23::user1094::top-up::3950.9::Cardiff::None',
 '2025-06-24 04:31:08 - user=user1032 - action=deposit €3672.43 - ATM: Manchester - device=None',
 '2025-06-23 13:59:20 >> [user1095] did transfer - amt=£3993.16 - None // dev:None',
 '2025-07-07 05:02:38::user1025::withdrawal::2667.58::Liverpool::None',
 '2025-07-18 23:10:23 - user=user1040 - action=debit £1996.49 - ATM: Leeds - device=None',
 '2025-07-23 09:11:20 | user: user1022 | txn: top-up of £227.8 from Liverpool | device: None',
 '2025-06-04 08:44:32 - user=user1091 - action=refund €641.86 - ATM: Birmingham - device=None',
 'usr:user1048|cashout|£2261.07|None|2025-06-07 09:59:20|None',
 'user1058 2025-07-01 06:42:12 cashout 3328.48 None None',
 '2025-06-16 00:51:56 - user=user1076 - action=cashout £211.46 - ATM: Manchester - device=None',
 '2025-06-12 21:18:46::user1003::cashout::4261.19::Birmingham::None',
 '2025-06-09 15:00:49 - user=user1048 - action=transfer £4606.37 - ATM: Cardiff - device=None',
 '02/06/2025 20:24:35 ::: user1046 *** PURCHASE ::: amt:2213.24£ @ Glasgow <None>',
 '2025-06-27 18:21:01::user1024::cashout::1851.77::Birmingham::None',
 '2025-07-08 04:41:53::user1006::transfer::484.01::None::None',
 'user1096 2025-06-29 23:36:01 withdrawal 2301.73 None None',
 'user1019 2025-07-25 16:45:00 deposit 3873.33 Manchester None',
 '2025-07-20 21:08:46::user1093::top-up::485.73::Liverpool::None',
 '14/07/2025 05:05:14 ::: user1011 *** TRANSFER ::: amt:4457.29€ @ Liverpool <None>',
 '2025-07-10 08:09:39 | user: user1097 | txn: refund of €3854.44 from London | device: None',
 '2025-07-13 12:19:21 | user: user1049 | txn: top-up of £2191.1 from None | device: None',
 '2025-06-04 02:49:32 - user=user1044 - action=withdrawal £1957.17 - ATM: Cardiff - device=None',
 'user1037 2025-06-08 20:07:12 deposit 1774.2 London None',
 '2025-06-19 05:48:02 | user: user1027 | txn: top-up of £4256.41 from Cardiff | device: None',
 '05/07/2025 06:15:39 ::: user1059 *** PURCHASE ::: amt:2380.74£ @ None <None>',
 'user1046 2025-07-24 10:20:46 purchase 812.96 Cardiff None',
 'user1004 2025-07-28 06:41:01 withdrawal 314.85 London None',
 'usr:user1014|cashout|€3058.52|Liverpool|2025-06-03 03:29:07|None',
 'usr:user1076|top-up|$407.46|None|2025-06-11 19:49:51|None',
 '2025-06-12 08:53:52 - user=user1054 - action=purchase €4120.86 - ATM: Glasgow - device=None',
 'user1064 2025-06-18 09:09:27 deposit 2462.79 London None',
 '2025-06-04 03:48:14::user1086::purchase::3792.88::Liverpool::None',
 '2025-07-14 00:41:40 - user=user1019 - action=refund €2461.64 - ATM: Leeds - device=None',
 '03/06/2025 07:27:42 ::: user1014 *** TOP-UP ::: amt:3509.42€ @ Birmingham <None>',
 'usr:user1080|refund|£1805.33|Glasgow|2025-06-19 16:28:14|None',
 '2025-07-06 11:15:58::user1051::transfer::4448.81::Liverpool::None',
 'user1014 2025-06-14 18:20:41 top-up 2446.41 Birmingham None',
 '03/06/2025 01:07:46 ::: user1080 *** WITHDRAWAL ::: amt:4677.76$ @ Manchester <None>',
 'user1021 2025-07-27 11:54:35 refund 2389.92 Liverpool None',
 'usr:user1003|top-up|£300.91|Manchester|2025-07-11 22:16:39|None',
 '2025-06-14 23:01:54 - user=user1017 - action=transfer £4306.07 - ATM: None - device=None',
 '2025-06-30 23:36:27 | user: user1070 | txn: refund of £2486.17 from Leeds | device: None',

In [138]:
# since those with null device are "None" on the raw log, replace nan with None
data['device'] = data['device'].fillna('None')

In [139]:
data.isna().sum()

raw_log         0
user_id         0
timestamp       0
action          0
amount          0
currency     2241
location      968
device          0
dtype: int64

# Extract ATM flag

In [140]:
atm_pattern = re.compile(r"""
        atm            
""", re.VERBOSE | re.IGNORECASE)
text = textwrap.dedent("""
                '2025-07-05 19:18:10::user1069::withdrawal::2995.12::London::iPhone 13',
                'usr:user1076|cashout|€4821.85|Glasgow|2025-07-15 12:56:05|Pixel 6',
                '2025-07-20 05:38:14 >> [user1034] did top-up - amt=€2191.06 - None // dev:iPhone 13',
                '2025-06-13 10:04:51 >> [user1068] did deposit - amt=€1691.09 - Glasgow // dev:None',
                '2025-07-29 23:47:37 | user: user1014 | txn: deposit of £3539.5 from Glasgow | device: iPhone 13',
                '2025-06-23 14:45:58 - user=user1075 - action=debit $1215.74 - ATM: Leeds - device=Samsung Galaxy S10',
                '2025-07-31 06:50:50 | user: user1071 | txn: cashout of $1772.13 from None | device: Nokia 3310',
                '2025-07-07 20:42:12 - user=user1098 - action=deposit €304.0 - ATM: Birmingham - device=Nokia 3310',
                '24/07/2025 22:47:06 ::: user1080 *** PURCHASE ::: amt:951.85$ @ Liverpool <Xiaomi Mi 11>',
                '2025-06-10 20:06:30 >> [user1025] did withdrawal - amt=€3261.07 - London // dev:iPhone 13',
                '14/06/2025 07:25:39 ::: user1019 *** CASHOUT ::: amt:2428.72£ @ Leeds <iPhone 13>',
                'user1093 2025-07-05 14:11:06 withdrawal 4926.56 None Huawei P30',
                '2025-07-05 06:12:48 - user=user1043 - action=withdrawal £4803.93 - ATM: Liverpool - device=iPhone 13',
                '2025-07-23 15:57:12 | user: user1098 | txn: purchase of €2019.47 from Glasgow | device: None',
                '2025-06-23 10:05:51 >> [user1048] did deposit - amt=€2096.71 - Birmingham // dev:Huawei P30',
                'usr:user1034|top-up|$1194.19|Liverpool|2025-06-24 05:06:27|Pixel 6',
                '2025-06-25 07:18:59 - user=user1008 - action=top-up £4645.16 - ATM: London - device=Xiaomi Mi 11',
                '2025-07-17 23:05:52 >> [user1011] did purchase - amt=£2529.92 - Birmingham // dev:iPhone 13',
                '2025-06-22 21:50:40 - user=user1003 - action=refund £4658.85 - ATM: Liverpool - device=Huawei P30',
                '2025-07-04 02:49:11::user1083::transfer::1362.47::Glasgow::Pixel 6',
                'user1077 2025-06-26 03:04:52 refund 2527.54 London iPhone 13',
                '04/07/2025 01:08:12 ::: user1046 *** CASHOUT ::: amt:2804.97£ @ Manchester <Pixel 6>',
                '09/06/2025 22:58:25 ::: user1074 *** WITHDRAWAL ::: amt:4173.14€ @ Liverpool <Xiaomi Mi 11>',
                '2025-07-08 14:07:36 >> [user1086] did refund - amt=£1823.89 - Birmingham // dev:Samsung Galaxy S10',
""")

matches = atm_pattern.findall(text.lower())
print("Matches found:", len(matches), matches)

Matches found: 5 ['atm', 'atm', 'atm', 'atm', 'atm']

In [141]:
data['atm'] = data['raw_log'].apply(lambda x: atm_pattern.findall(x.lower())[0] if atm_pattern.findall(x.lower()) != [] else np.nan)

In [142]:
data

,raw_log,user_id,timestamp,action,amount,currency,location,device,atm
0,2025-07-05 19:18:10::user1069::withdrawal::299...,user1069,2025-07-05 19:18:10,withdrawal,2995.12,NaN,london,iPhone 13,NaN
1,usr:user1076|cashout|€4821.85|Glasgow|2025-07-...,user1076,2025-07-15 12:56:05,cashout,4821.85,€,glasgow,Pixel 6,NaN
2,2025-07-20 05:38:14 >> [user1034] did top-up -...,user1034,2025-07-20 05:38:14,top-up,2191.06,€,NaN,iPhone 13,NaN
3,2025-06-13 10:04:51 >> [user1068] did deposit ...,user1068,2025-06-13 10:04:51,deposit,1691.09,€,glasgow,None,NaN
4,2025-07-29 23:47:37 | user: user1014 | txn: de...,user1014,2025-07-29 23:47:37,deposit,3539.5,£,glasgow,iPhone 13,NaN
...,...,...,...,...,...,...,...,...,...
7769,usr:user1058|debit|£3992.06|Leeds|2025-06-10 0...,user1058,2025-06-10 03:55:41,debit,3992.06,£,leeds,Pixel 6,NaN
7770,08/07/2025 08:50:09 ::: user1069 *** WITHDRAWA...,user1069,08/07/2025 08:50:09,withdrawal,1401.58,€,birmingham,Nokia 3310,NaN
7771,2025-07-31 07:41:34::user1024::deposit::1331.2...,user1024,2025-07-31 07:41:34,deposit,1331.2,NaN,cardiff,Nokia 3310,NaN
7772,2025-06-23 05:14:03 >> [user1029] did withdraw...,user1029,2025-06-23 05:14:03,withdrawal,4203.63,£,london,Xiaomi Mi 11,NaN
7773,2025-07-27 17:57:22::user1048::refund::2988.49...,user1048,2025-07-27 17:57:22,refund,2988.49,NaN,leeds,Xiaomi Mi 11,NaN

## Check for pattern in missing data

### Missing Currency

In [143]:
# Check if a currency is tied to a particular location

for location in data['location'].unique():
    print(location)
    print(data[data['location']== location]['currency'].value_counts())
    print(" ")

london
currency
€    241
$    226
£    201
Name: count, dtype: int64

glasgow
currency
$    251
£    239
€    219
Name: count, dtype: int64

nan
Series([], Name: count, dtype: int64)

leeds
currency
$    237
€    235
£    228
Name: count, dtype: int64

birmingham
currency
£    231
$    224
€    214
Name: count, dtype: int64

liverpool
currency
€    262
£    236
$    192
Name: count, dtype: int64

manchester
currency
€    248
$    232
£    228
Name: count, dtype: int64

cardiff
currency
£    236
$    234
€    219
Name: count, dtype: int64

In [144]:
# Check if a currency is tied to a particular action

for action in data['action'].unique():
    print(action)
    print(data[data['action']== action]['currency'].value_counts())
    print(" ")

withdrawal
currency
€    237
£    228
$    228
Name: count, dtype: int64

cashout
currency
€    268
£    225
$    222
Name: count, dtype: int64

top-up
currency
$    238
£    237
€    231
Name: count, dtype: int64

deposit
currency
$    258
€    237
£    225
Name: count, dtype: int64

debit
currency
$    246
£    241
€    228
Name: count, dtype: int64

purchase
currency
€    240
£    228
$    211
Name: count, dtype: int64

refund
currency
£    223
$    216
€    198
Name: count, dtype: int64

transfer
currency
£    227
€    224
$    217
Name: count, dtype: int64

In [145]:
# check if missing currency can be associated strongly with missing values in any other features
data[data['currency'].isnull()].isnull().sum()

raw_log         0
user_id         0
timestamp       0
action          0
amount          0
currency     2241
location      268
device          0
atm          2241
dtype: int64

**OBSERVATION**
- The Currencies are missing at random

**RECOMMENDATION**
- Dropping missing records are unadvisible as they could potentially be a significant portion of anomalies 
- Fill with "None" to reperesent the absence of currency in the transaction record

In [146]:
data['currency'] = data['currency'].fillna('None')

In [147]:
data.isnull().sum()

raw_log         0
user_id         0
timestamp       0
action          0
amount          0
currency        0
location      968
device          0
atm          6685
dtype: int64

### Observe missing values in Location

In [148]:
data[data['location'].isnull()]

,raw_log,user_id,timestamp,action,amount,currency,location,device,atm
2,2025-07-20 05:38:14 >> [user1034] did top-up -...,user1034,2025-07-20 05:38:14,top-up,2191.06,€,NaN,iPhone 13,NaN
6,2025-07-31 06:50:50 | user: user1071 | txn: ca...,user1071,2025-07-31 06:50:50,cashout,1772.13,$,NaN,Nokia 3310,NaN
11,user1093 2025-07-05 14:11:06 withdrawal 4926.5...,user1093,2025-07-05 14:11:06,withdrawal,4926.56,None,NaN,Huawei P30,NaN
27,2025-07-24 02:04:16 >> [user1058] did deposit ...,user1058,2025-07-24 02:04:16,deposit,1913.33,£,NaN,Samsung Galaxy S10,NaN
37,2025-06-22 11:35:36 >> [user1067] did purchase...,user1067,2025-06-22 11:35:36,purchase,3592.01,$,NaN,Xiaomi Mi 11,NaN
...,...,...,...,...,...,...,...,...,...
7724,usr:user1082|debit|€4920.89|None|2025-06-29 22...,user1082,2025-06-29 22:28:32,debit,4920.89,€,NaN,Samsung Galaxy S10,NaN
7733,2025-07-10 16:54:57 | user: user1074 | txn: de...,user1074,2025-07-10 16:54:57,deposit,4511.11,€,NaN,Xiaomi Mi 11,NaN
7742,2025-06-15 14:34:49 | user: user1065 | txn: de...,user1065,2025-06-15 14:34:49,debit,14.52,€,NaN,Xiaomi Mi 11,NaN
7760,usr:user1011|cashout|€3725.69|None|2025-06-27 ...,user1011,2025-06-27 23:20:52,cashout,3725.69,€,NaN,Samsung Galaxy S10,NaN
7761,2025-06-02 07:37:46 >> [user1025] did debit - ...,user1025,2025-06-02 07:37:46,debit,4537.31,£,NaN,Pixel 6,NaN

In [149]:
# Check if a particular user has the most missing location: Could potentially raise suspicision 
data[data['location'].isnull()]['user_id'].value_counts()

user_id
user1020    30
user1081    27
user1048    27
user1058    25
user1033    25
            ..
user1022     2
user1085     2
user1079     2
user1024     2
user1073     1
Name: count, Length: 86, dtype: int64

In [150]:
# check the number of transaction made by user1020 that has the most missing location
data[data['user_id'] == 'user1020'].shape

(238, 9)

**OBSERVATION/Recommendation**
-  Replace missing value in location with "None" to indicate the lack of such. 
- This would allow the ML algorithm detect if that pattern is an anomaly

In [151]:
data['location'] = data['location'].fillna('None')

In [152]:
data.isnull().sum()

raw_log         0
user_id         0
timestamp       0
action          0
amount          0
currency        0
location        0
device          0
atm          6685
dtype: int64

### Observe missing atm flag

In [153]:
data.head()

,raw_log,user_id,timestamp,action,amount,currency,location,device,atm
0,2025-07-05 19:18:10::user1069::withdrawal::299...,user1069,2025-07-05 19:18:10,withdrawal,2995.12,None,london,iPhone 13,NaN
1,usr:user1076|cashout|€4821.85|Glasgow|2025-07-...,user1076,2025-07-15 12:56:05,cashout,4821.85,€,glasgow,Pixel 6,NaN
2,2025-07-20 05:38:14 >> [user1034] did top-up -...,user1034,2025-07-20 05:38:14,top-up,2191.06,€,None,iPhone 13,NaN
3,2025-06-13 10:04:51 >> [user1068] did deposit ...,user1068,2025-06-13 10:04:51,deposit,1691.09,€,glasgow,None,NaN
4,2025-07-29 23:47:37 | user: user1014 | txn: de...,user1014,2025-07-29 23:47:37,deposit,3539.5,£,glasgow,iPhone 13,NaN

In [154]:
data[data['atm'].isnull()]['raw_log'].to_list()

['2025-07-05 19:18:10::user1069::withdrawal::2995.12::London::iPhone 13',
 'usr:user1076|cashout|€4821.85|Glasgow|2025-07-15 12:56:05|Pixel 6',
 '2025-07-20 05:38:14 >> [user1034] did top-up - amt=€2191.06 - None // dev:iPhone 13',
 '2025-06-13 10:04:51 >> [user1068] did deposit - amt=€1691.09 - Glasgow // dev:None',
 '2025-07-29 23:47:37 | user: user1014 | txn: deposit of £3539.5 from Glasgow | device: iPhone 13',
 '2025-07-31 06:50:50 | user: user1071 | txn: cashout of $1772.13 from None | device: Nokia 3310',
 '24/07/2025 22:47:06 ::: user1080 *** PURCHASE ::: amt:951.85$ @ Liverpool <Xiaomi Mi 11>',
 '2025-06-10 20:06:30 >> [user1025] did withdrawal - amt=€3261.07 - London // dev:iPhone 13',
 '14/06/2025 07:25:39 ::: user1019 *** CASHOUT ::: amt:2428.72£ @ Leeds <iPhone 13>',
 'user1093 2025-07-05 14:11:06 withdrawal 4926.56 None Huawei P30',
 '2025-07-23 15:57:12 | user: user1098 | txn: purchase of €2019.47 from Glasgow | device: None',
 '2025-06-23 10:05:51 >> [user1048] did deposit - amt=€2096.71 - Birmingham // dev:Huawei P30',
 'usr:user1034|top-up|$1194.19|Liverpool|2025-06-24 05:06:27|Pixel 6',
 '2025-07-17 23:05:52 >> [user1011] did purchase - amt=£2529.92 - Birmingham // dev:iPhone 13',
 '2025-07-04 02:49:11::user1083::transfer::1362.47::Glasgow::Pixel 6',
 'user1077 2025-06-26 03:04:52 refund 2527.54 London iPhone 13',
 '04/07/2025 01:08:12 ::: user1046 *** CASHOUT ::: amt:2804.97£ @ Manchester <Pixel 6>',
 '09/06/2025 22:58:25 ::: user1074 *** WITHDRAWAL ::: amt:4173.14€ @ Liverpool <Xiaomi Mi 11>',
 '2025-07-08 14:07:36 >> [user1086] did refund - amt=£1823.89 - Birmingham // dev:Samsung Galaxy S10',
 '30/07/2025 04:54:02 ::: user1096 *** DEPOSIT ::: amt:1769.04€ @ Leeds <None>',
 '02/07/2025 12:28:08 ::: user1010 *** TRANSFER ::: amt:4881.05£ @ Leeds <iPhone 13>',
 '07/07/2025 12:07:08 ::: user1013 *** TOP-UP ::: amt:3912.15$ @ Glasgow <Huawei P30>',
 '2025-07-24 02:04:16 >> [user1058] did deposit - amt=£1913.33 - None // dev:Samsung Galaxy S10',
 '2025-06-18 16:36:00 >> [user1008] did top-up - amt=£1526.65 - Glasgow // dev:iPhone 13',
 'usr:user1034|top-up|£4696.25|Cardiff|2025-06-25 07:41:42|Samsung Galaxy S10',
 'user1069 2025-07-27 06:27:32 cashout 4497.62 Cardiff iPhone 13',
 '2025-07-05 11:01:54::user1081::purchase::1821.74::Birmingham::None',
 'user1068 2025-06-19 05:02:27 deposit 3599.05 Cardiff Pixel 6',
 'user1020 2025-07-30 02:28:05 cashout 3486.34 Liverpool Samsung Galaxy S10',
 '2025-06-06 23:20:13 >> [user1029] did top-up - amt=£467.84 - Cardiff // dev:Samsung Galaxy S10',
 'user1020 2025-07-28 17:58:48 withdrawal 232.02 Manchester Xiaomi Mi 11',
 '2025-06-22 11:35:36 >> [user1067] did purchase - amt=$3592.01 - None // dev:Xiaomi Mi 11',
 '13/06/2025 09:48:03 ::: user1020 *** WITHDRAWAL ::: amt:4463.41£ @ Leeds <Samsung Galaxy S10>',
 '29/06/2025 10:46:54 ::: user1020 *** DEBIT ::: amt:252.04£ @ Manchester <Xiaomi Mi 11>',
 '2025-07-17 19:56:26 >> [user1040] did transfer - amt=$3718.53 - None // dev:Huawei P30',
 '2025-06-14 11:55:14 >> [user1070] did refund - amt=€3829.3 - None // dev:Pixel 6',
 '2025-06-10 09:06:24::user1005::debit::388.34::Glasgow::Huawei P30',
 '09/06/2025 15:02:04 ::: user1081 *** DEPOSIT ::: amt:692.73£ @ Leeds <Pixel 6>',
 '2025-07-21 17:14:37 | user: user1028 | txn: withdrawal of $1034.97 from Leeds | device: Nokia 3310',
 'user1019 2025-06-16 11:31:33 cashout 2385.42 Cardiff Nokia 3310',
 '2025-07-19 10:03:15 | user: user1087 | txn: purchase of $2441.66 from Leeds | device: Xiaomi Mi 11',
 'user1057 2025-06-02 23:51:41 withdrawal 4534.74 London iPhone 13',
 '2025-07-27 07:41:21 >> [user1035] did debit - amt=$909.46 - Leeds // dev:Huawei P30',
 'user1034 2025-06-23 08:15:41 top-up 1688.17 Cardiff Nokia 3310',
 '2025-06-15 06:31:04 >> [user1079] did deposit - amt=€2352.06 - London // dev:Huawei P30',
 '2025-07-28 20:56:17 | user: user1092 | txn: deposit of €3906.38 from London | device: Nokia 3310',
 '03/07/2025 08:35:22 ::: user1080 *** PURCHASE ::: amt:4196.31€ @ Liverpool <Samsung Galaxy S10>',
 'usr:user1040|deposit|£2820.28|None|2025-07-28 01:03:02|Pixel 6',
 '15/07/2025 14:46:08 ::: user1047 *** TOP-UP ::: amt:839.78€ @ Manchester <Nokia 3310>',
 '2025-06-14 12:27:03 >> [user1035] did deposit - amt=$2893.84 - Leeds // dev:Xiaomi Mi 11',
 '2025-06-21 18:04:39 | user: user1027 | txn: purchase of $510.4 from Manchester | device: Nokia 3310',
 'user1034 2025-07-21 10:27:07 cashout 3307.95 Birmingham iPhone 13',
 '25/07/2025 20:53:01 ::: user1050 *** DEPOSIT ::: amt:2168.18$ @ None <Pixel 6>',
 '2025-06-02 11:09:34 >> [user1020] did debit - amt=€2324.9 - Cardiff // dev:Huawei P30',
 'user1077 2025-07-20 01:34:56 refund 4408.27 None None',
 '2025-06-16 04:22:52 >> [user1026] did withdrawal - amt=$2472.04 - Liverpool // dev:Xiaomi Mi 11',
 '2025-07-21 12:27:25 | user: user1087 | txn: refund of €1702.35 from Cardiff | device: None',
 '2025-06-19 19:01:52 | user: user1025 | txn: purchase of €3453.36 from None | device: Xiaomi Mi 11',
 '2025-06-01 15:06:05::user1003::refund::1108.76::Glasgow::Huawei P30',
 '2025-07-27 15:51:02::user1020::refund::4902.57::Cardiff::Samsung Galaxy S10',
 '2025-06-14 02:56:06 | user: user1043 | txn: refund of €71.73 from Liverpool | device: Huawei P30',
 '2025-06-13 01:12:45 | user: user1011 | txn: refund of £3487.39 from None | device: iPhone 13',
 '2025-06-12 22:14:14 | user: user1011 | txn: refund of $2347.52 from Birmingham | device: Samsung Galaxy S10',
 '2025-07-03 21:57:11 >> [user1096] did withdrawal - amt=€759.48 - Cardiff // dev:iPhone 13',
 '2025-07-02 08:20:16 | user: user1093 | txn: debit of $4542.61 from Leeds | device: Huawei P30',
 'user1043 2025-07-12 08:29:59 purchase 869.89 Liverpool iPhone 13',
 'usr:user1051|debit|£1457.01|Cardiff|2025-06-13 14:42:29|Pixel 6',
 '2025-07-06 22:31:14 >> [user1058] did debit - amt=£356.83 - Cardiff // dev:Nokia 3310',
 '12/07/2025 10:44:50 ::: user1041 *** DEPOSIT ::: amt:2723.27€ @ Liverpool <Huawei P30>',
 'usr:user1087|withdrawal|€4447.23|Birmingham|2025-07-10 09:46:29|None',
 'usr:user1028|deposit|€1145.39|London|2025-06-08 02:44:07|Nokia 3310',
 '30/06/2025 15:12:58 ::: user1089 *** CASHOUT ::: amt:1667.21€ @ Manchester <Nokia 3310>',
 'user1013 2025-06-22 11:53:23 debit 441.21 Birmingham iPhone 13',
 '2025-06-22 13:29:45 | user: user1031 | txn: withdrawal of €3288.64 from None | device: Xiaomi Mi 11',
 '2025-06-28 13:15:51 | user: user1048 | txn: top-up of $3113.55 from None | device: Nokia 3310',
 '14/07/2025 07:25:41 ::: user1028 *** WITHDRAWAL ::: amt:4865.76€ @ Glasgow <Pixel 6>',
 'usr:user1027|deposit|£3238.9|None|2025-07-11 13:23:12|Pixel 6',
 '2025-07-27 20:16:34 | user: user1005 | txn: cashout of €1700.04 from Cardiff | device: Nokia 3310',
 '05/06/2025 12:32:35 ::: user1029 *** REFUND ::: amt:4187.54€ @ None <Nokia 3310>',
 '2025-07-05 01:37:09::user1040::debit::1726.27::Leeds::Xiaomi Mi 11',
 '2025-06-02 08:27:39::user1048::purchase::2859.42::Leeds::iPhone 13',
 '14/07/2025 04:24:04 ::: user1038 *** DEBIT ::: amt:3526.43$ @ Leeds <Pixel 6>',
 '29/06/2025 04:19:16 ::: user1029 *** DEPOSIT ::: amt:2630.23$ @ London <Pixel 6>',
 'user1088 2025-07-20 22:06:28 transfer 375.07 Birmingham None',
 '13/07/2025 06:07:32 ::: user1007 *** DEPOSIT ::: amt:3802.09€ @ Manchester <Xiaomi Mi 11>',
 '2025-07-22 07:02:09 | user: user1055 | txn: refund of £4517.22 from Birmingham | device: Nokia 3310',
 'user1010 2025-06-14 17:47:12 top-up 1874.83 Glasgow None',
 '2025-06-26 08:30:06 >> [user1065] did transfer - amt=£850.75 - Leeds // dev:None',
 'usr:user1058|transfer|€1161.71|Cardiff|2025-07-02 04:31:41|Xiaomi Mi 11',
 'user1043 2025-07-24 23:20:22 deposit 2209.21 Cardiff Pixel 6',
 'usr:user1083|purchase|$1907.44|Cardiff|2025-06-11 15:14:24|Pixel 6',
 '2025-07-22 14:06:57 >> [user1098] did purchase - amt=$3035.72 - Glasgow // dev:Pixel 6',
 '2025-07-16 11:09:32::user1059::withdrawal::1545.36::London::None',
 'user1064 2025-06-01 19:00:00 transfer 451.58 Birmingham Pixel 6',
 '2025-07-11 07:02:48::user1008::transfer::1285.59::Cardiff::Pixel 6',
 'user1069 2025-07-11 02:37:15 debit 4814.5 Glasgow Nokia 3310',
 'user1028 2025-07-11 05:36:37 debit 1843.56 Cardiff None',
 'usr:user1020|purchase|€3238.61|None|2025-07-17 08:46:01|Pixel 6',
 '2025-07-23 21:34:21::user1050::cashout::4695.33::London::Pixel 6',
 '2025-06-06 03:51:35::user1093::debit::2224.03::Birmingham::iPhone 13',
 '2025-06-27 10:35:42::user1003::purchase::3208.88::London::iPhone 13',
 '15/06/2025 21:30:12 ::: user1033 *** PURCHASE ::: amt:4065.45£ @ Birmingham <Nokia 3310>',
 'usr:user1020|withdrawal|£1387.1|Liverpool|2025-07-07 22:10:59|None',
 '2025-06-24 03:01:06::user1097::deposit::3305.63::Liverpool::iPhone 13',
 'user1010 2025-07-16 14:14:11 top-up 79.89 London Samsung Galaxy S10',
 '2025-07-12 21:06:52::user1068::deposit::3728.58::None::Nokia 3310',
 'user1012 2025-07-30 14:35:19 debit 3217.06 London Xiaomi Mi 11',
 '2025-06-07 00:53:15::user1098::deposit::2451.85::Manchester::iPhone 13',
 'usr:user1034|cashout|$3648.33|Leeds|2025-06-04 09:30:01|Huawei P30',
 '03/07/2025 13:33:45 ::: user1003 *** CASHOUT ::: amt:483.73€ @ Birmingham <Nokia 3310>',
 'usr:user1071|top-up|$4368.16|London|2025-06-23 04:21:57|Huawei P30',
 'usr:user1068|deposit|€1751.22|Birmingham|2025-06-04 23:46:12|iPhone 13',
 'usr:user1011|purchase|€4036.3|London|2025-07-31 09:23:03|None',
 '2025-06-02 01:01:20 | user: user1017 | txn: transfer of $1367.08 from Birmingham | device: Huawei P30',
 '2025-06-25 15:47:34 | user: user1013 | txn: transfer of $2832.04 from Manchester | device: Samsung Galaxy S10',
 '2025-07-22 05:52:30::user1003::purchase::1881.6::Birmingham::Samsung Galaxy S10',
 '03/07/2025 02:28:15 ::: user1035 *** TOP-UP ::: amt:3884.4€ @ Manchester <iPhone 13>',
 'user1043 2025-07-20 04:44:32 withdrawal 3370.17 None Pixel 6',
 'user1063 2025-06-21 09:54:20 debit 2071.5 Manchester Huawei P30',
 'usr:user1089|refund|€3391.41|None|2025-06-24 05:02:13|None',
 '2025-07-15 11:53:06 >> [user1094] did purchase - amt=€1976.92 - London // dev:iPhone 13',
 'user1000 2025-07-19 14:37:54 purchase 2501.81 Birmingham iPhone 13',
 '2025-07-17 19:27:25::user1080::withdrawal::2181.66::Manchester::Nokia 3310',
 '2025-06-14 19:11:39::user1081::withdrawal::4831.03::None::Nokia 3310',
 'user1077 2025-07-18 13:32:48 cashout 4222.58 Leeds None',
 '2025-07-13 17:46:27::user1068::deposit::1979.44::Birmingham::Samsung Galaxy S10',
 '2025-06-22 17:58:58::user1043::debit::2320.3::None::Pixel 6',
 'usr:user1059|top-up|£755.64|None|2025-07-05 19:05:18|Xiaomi Mi 11',
 '2025-06-24 08:47:38 >> [user1049] did cashout - amt=€2314.1 - London // dev:Xiaomi Mi 11',
 '2025-07-01 04:57:41::user1046::debit::2507.34::None::iPhone 13',
 '2025-06-25 00:12:40::user1029::transfer::1820.13::Leeds::Xiaomi Mi 11',
 '2025-06-24 12:01:04::user1082::withdrawal::3946.35::Birmingham::iPhone 13',
 '20/06/2025 22:31:18 ::: user1003 *** CASHOUT ::: amt:2542.93£ @ Birmingham <Huawei P30>',
 '09/06/2025 08:15:24 ::: user1005 *** TOP-UP ::: amt:4738.39$ @ Glasgow <Samsung Galaxy S10>',
 '2025-07-27 11:18:47::user1054::deposit::1479.66::London::Pixel 6',
 '23/07/2025 11:59:22 ::: user1047 *** TRANSFER ::: amt:2986.63£ @ Liverpool <Samsung Galaxy S10>',
 'usr:user1064|debit|$219.42|Glasgow|2025-06-22 22:38:18|Xiaomi Mi 11',
 'usr:user1012|top-up|€3391.86|None|2025-07-15 00:58:51|Xiaomi Mi 11',
 '2025-07-04 04:01:17 >> [user1069] did cashout - amt=$2515.03 - Liverpool // dev:Nokia 3310',
 '2025-06-11 05:33:59::user1054::transfer::4365.14::None::Nokia 3310',
 'user1019 2025-06-24 05:36:15 transfer 1364.68 Liverpool Nokia 3310',
 '2025-06-29 08:08:04 | user: user1003 | txn: purchase of $4083.7 from London | device: Xiaomi Mi 11',
 '2025-06-15 05:35:56 | user: user1048 | txn: top-up of £1179.65 from Birmingham | device: Samsung Galaxy S10',
 '20/07/2025 15:06:27 ::: user1081 *** DEPOSIT ::: amt:4196.04€ @ Birmingham <Nokia 3310>',
 '10/07/2025 03:51:31 ::: user1040 *** WITHDRAWAL ::: amt:4529.38£ @ Cardiff <Samsung Galaxy S10>',
 '30/06/2025 07:06:09 ::: user1058 *** WITHDRAWAL ::: amt:3160.14€ @ Glasgow <Pixel 6>',
 'user1037 2025-06-19 11:14:46 cashout 8.82 Glasgow None',
 'user1033 2025-06-18 02:39:32 withdrawal 1952.88 London Pixel 6',
 '2025-07-22 22:34:47 >> [user1021] did refund - amt=$3736.84 - Manchester // dev:Huawei P30',
 '2025-07-22 23:13:00 | user: user1064 | txn: deposit of €3857.74 from Birmingham | device: Samsung Galaxy S10',
 'usr:user1067|transfer|£4057.68|None|2025-07-06 07:26:21|iPhone 13',
 '2025-07-04 09:06:51::user1048::debit::1267.32::Glasgow::Huawei P30',
 '2025-06-18 15:48:43::user1069::withdrawal::4329.13::Cardiff::iPhone 13',
 'usr:user1022|cashout|€395.56|Liverpool|2025-06-24 16:58:13|None',
 '2025-06-14 15:09:12 | user: user1054 | txn: cashout of $834.06 from Birmingham | device: Xiaomi Mi 11',
 '2025-07-11 12:24:57 | user: user1022 | txn: top-up of $3074.64 from Cardiff | device: Pixel 6',
 '04/07/2025 18:58:50 ::: user1027 *** CASHOUT ::: amt:1817.19€ @ Liverpool <iPhone 13>',
 '2025-06-24 09:13:21::user1076::debit::174.96::Glasgow::Nokia 3310',
 '2025-07-09 09:49:32::user1081::top-up::2220.25::Liverpool::None',
 '13/07/2025 14:53:36 ::: user1048 *** TOP-UP ::: amt:3248.15£ @ Manchester <iPhone 13>',
 'usr:user1058|cashout|£4567.8|Cardiff|2025-06-05 16:25:48|Nokia 3310',
 '2025-06-20 22:40:52::user1037::refund::4256.96::Liverpool::Nokia 3310',
 'user1075 2025-06-16 21:43:35 deposit 329.67 None None',
 '2025-06-09 04:19:13 | user: user1070 | txn: transfer of £3839.14 from Leeds | device: None',
 '2025-06-18 17:52:45 >> [user1028] did transfer - amt=£1521.32 - Birmingham // dev:Pixel 6',
 '20/06/2025 18:46:10 ::: user1005 *** TRANSFER ::: amt:3125.49€ @ Manchester <None>',
 '2025-06-02 23:31:51 | user: user1080 | txn: transfer of €856.83 from Birmingham | device: Nokia 3310',
 '2025-06-14 12:09:28 >> [user1017] did deposit - amt=€228.26 - Cardiff // dev:Pixel 6',
 '2025-07-01 12:03:10 >> [user1011] did withdrawal - amt=$791.24 - None // dev:Xiaomi Mi 11',
 '2025-07-23 05:39:35::user1085::transfer::1563.6::Birmingham::Pixel 6',
 '2025-07-06 19:28:07 >> [user1034] did transfer - amt=€3803.56 - Manchester // dev:Huawei P30',
 '2025-06-23 05:51:08 | user: user1072 | txn: deposit of £1338.09 from Liverpool | device: iPhone 13',
 '11/06/2025 18:52:52 ::: user1037 *** CASHOUT ::: amt:4320.96$ @ Glasgow <Nokia 3310>',
 '31/07/2025 03:11:55 ::: user1020 *** DEBIT ::: amt:1429.46£ @ Manchester <Xiaomi Mi 11>',
 '2025-06-28 10:54:25 | user: user1024 | txn: top-up of $3819.52 from London | device: Xiaomi Mi 11',
 '28/07/2025 03:36:26 ::: user1059 *** TOP-UP ::: amt:3974.69$ @ Birmingham <Nokia 3310>',
 '2025-06-28 08:10:50::user1045::cashout::2500.89::London::Samsung Galaxy S10',
 '2025-06-28 06:07:43::user1040::debit::745.55::Liverpool::Huawei P30',
 '2025-07-15 06:05:36::user1035::cashout::4953.09::Cardiff::None',
 '2025-06-18 19:07:42 | user: user1033 | txn: debit of $3543.99 from None | device: Nokia 3310',
 '2025-07-02 12:31:48 | user: user1081 | txn: top-up of $3369.36 from Cardiff | device: Nokia 3310',
 '2025-06-09 02:26:39 | user: user1020 | txn: debit of €1328.39 from Glasgow | device: Pixel 6',
 '2025-07-08 02:02:08 >> [user1014] did debit - amt=€853.39 - Leeds // dev:Samsung Galaxy S10',
 '24/07/2025 01:28:04 ::: user1094 *** DEPOSIT ::: amt:954.73$ @ Birmingham <Xiaomi Mi 11>',
 '2025-07-21 19:13:54 | user: user1071 | txn: purchase of €2052.48 from None | device: Nokia 3310',
 '2025-07-02 08:50:59::user1068::cashout::1569.45::None::None',
 'usr:user1012|purchase|$1395.75|Glasgow|2025-06-02 23:19:18|Huawei P30',
 '2025-06-11 17:23:13::user1000::purchase::3451.51::Birmingham::Xiaomi Mi 11',
 '2025-07-17 16:23:51::user1017::refund::1439.66::Leeds::Xiaomi Mi 11',
 '2025-06-19 18:11:59 | user: user1008 | txn: refund of €687.23 from Glasgow | device: Samsung Galaxy S10',
 '2025-07-30 14:35:37::user1034::purchase::3190.08::Manchester::Xiaomi Mi 11',
 '20/06/2025 16:05:25 ::: user1033 *** DEBIT ::: amt:503.62£ @ London <None>',
 'usr:user1088|debit|£2387.77|Cardiff|2025-07-21 21:03:11|Huawei P30',
 '2025-07-06 05:00:36 | user: user1087 | txn: withdrawal of £4539.78 from Glasgow | device: None',
 'user1097 2025-07-19 03:55:54 cashout 4411.34 London Nokia 3310',
 'usr:user1082|transfer|$4683.11|London|2025-06-04 14:49:03|iPhone 13',
 '2025-07-29 06:56:35 >> [user1068] did debit - amt=£4446.41 - None // dev:Huawei P30',
 '30/06/2025 01:11:23 ::: user1089 *** TOP-UP ::: amt:813.31$ @ Cardiff <Pixel 6>',
 'user1094 2025-06-25 14:53:01 top-up 3954.05 Glasgow Samsung Galaxy S10',
 '18/06/2025 18:32:57 ::: user1098 *** TOP-UP ::: amt:434.6€ @ Manchester <Samsung Galaxy S10>',
 '2025-06-20 11:01:24 >> [user1027] did top-up - amt=£4679.19 - Cardiff // dev:Xiaomi Mi 11',
 '2025-06-23 04:26:50::user1040::refund::4770.22::London::Huawei P30',
 '28/07/2025 14:16:31 ::: user1055 *** PURCHASE ::: amt:311.56£ @ None <Huawei P30>',
 '2025-06-24 16:08:26 >> [user1081] did refund - amt=€3451.76 - Cardiff // dev:Huawei P30',
 '2025-06-26 17:31:34 | user: user1040 | txn: withdrawal of €2267.71 from Leeds | device: Xiaomi Mi 11',
 'usr:user1017|debit|$3364.17|London|2025-06-12 17:11:45|Xiaomi Mi 11',
 'usr:user1054|withdrawal|£4672.98|None|2025-06-05 09:13:02|iPhone 13',
 'user1088 2025-07-30 04:01:50 transfer 3845.09 Leeds Huawei P30',
 '2025-06-10 23:33:31::user1040::cashout::1878.85::Liverpool::Pixel 6',
 '2025-06-18 16:09:40 >> [user1053] did transfer - amt=$4964.24 - Liverpool // dev:Pixel 6',
 'user1081 2025-06-07 10:43:01 withdrawal 4892.47 Leeds None',
 '2025-07-10 04:24:55 | user: user1025 | txn: withdrawal of €2232.76 from London | device: Samsung Galaxy S10',
 '2025-06-19 16:36:01::user1037::purchase::4079.12::Birmingham::None',
 'usr:user1010|refund|€4381.42|Glasgow|2025-07-06 03:09:38|Xiaomi Mi 11',
 'user1005 2025-07-05 09:38:27 withdrawal 2784.03 Liverpool Pixel 6',
 '2025-06-15 12:01:06 >> [user1075] did cashout - amt=€4838.96 - Liverpool // dev:Xiaomi Mi 11',
 '2025-07-21 12:48:13::user1046::purchase::1651.98::None::Nokia 3310',
 '2025-06-28 18:31:34 >> [user1048] did purchase - amt=$2397.49 - Cardiff // dev:iPhone 13',
 '2025-06-04 21:12:47 >> [user1048] did deposit - amt=$3734.65 - Glasgow // dev:Pixel 6',
 '2025-06-03 10:12:53::user1064::debit::3808.38::Glasgow::Huawei P30',
 'usr:user1071|withdrawal|£2813.06|Liverpool|2025-07-18 07:38:58|iPhone 13',
 'user1046 2025-06-28 01:35:26 cashout 1476.67 Birmingham Samsung Galaxy S10',
 '03/07/2025 21:31:49 ::: user1097 *** DEBIT ::: amt:2304.68€ @ Birmingham <Samsung Galaxy S10>',
 '2025-07-24 21:30:00 | user: user1064 | txn: debit of €921.05 from London | device: None',
 '2025-06-21 02:39:36 >> [user1027] did withdrawal - amt=$3821.93 - Liverpool // dev:Nokia 3310',
 '2025-07-15 18:55:00 | user: user1003 | txn: transfer of €46.7 from None | device: Huawei P30',
 'usr:user1071|withdrawal|€84.61|Cardiff|2025-06-24 09:18:25|None',
 '2025-07-24 10:24:38::user1089::purchase::960.47::Cardiff::Nokia 3310',
 '2025-07-14 20:07:47 >> [user1090] did cashout - amt=$396.02 - None // dev:None',
 'user1020 2025-06-02 05:02:15 purchase 1500.57 London iPhone 13',
 '16/07/2025 23:10:24 ::: user1093 *** CASHOUT ::: amt:2763.95£ @ London <Pixel 6>',
 '2025-06-26 05:28:37 | user: user1033 | txn: withdrawal of €1149.6 from None | device: Huawei P30',
 '2025-07-01 18:50:57::user1027::refund::4496.66::London::Samsung Galaxy S10',
 'usr:user1035|purchase|€2935.59|Leeds|2025-07-16 16:53:12|iPhone 13',
 '14/06/2025 01:48:04 ::: user1035 *** PURCHASE ::: amt:2833.91$ @ Birmingham <Xiaomi Mi 11>',
 'user1037 2025-06-08 05:04:21 deposit 2504.46 London iPhone 13',
 '2025-06-11 10:50:33::user1048::deposit::1703.62::Leeds::Nokia 3310',
 '2025-06-04 04:49:36::user1017::refund::3917.96::None::Samsung Galaxy S10',
 'usr:user1046|cashout|€2159.81|Leeds|2025-06-16 09:07:16|iPhone 13',
 '09/06/2025 18:43:46 ::: user1080 *** DEPOSIT ::: amt:411.11£ @ Leeds <Pixel 6>',
 'usr:user1080|cashout|£1584.07|Manchester|2025-06-22 18:28:14|iPhone 13',

# Clean and Explore Data Further

In [155]:
data.describe().T

,count,unique,top,freq
raw_log,7774,7774,2025-07-05 19:18:10::user1069::withdrawal::299...,1
user_id,7774,86,user1020,238
timestamp,7774,7771,2025-07-01 04:57:41,2
action,7774,8,cashout,1015
amount,7774,7709,2484.39,2
currency,7774,4,None,2241
location,7774,8,leeds,995
device,7774,7,Xiaomi Mi 11,1140
atm,1089,1,atm,1089

In [156]:
data.dtypes

raw_log      object
user_id      object
timestamp    object
action       object
amount       object
currency     object
location     object
device       object
atm          object
dtype: object

In [157]:
# Correct the data type of amount
data['amount'] = data['amount'].astype(float)

In [158]:
# convert data type to datetime
data['timestamp'] = pd.to_datetime(data['timestamp'], format='mixed', dayfirst=True  )

In [159]:
data.dtypes

raw_log              object
user_id              object
timestamp    datetime64[ns]
action               object
amount              float64
currency             object
location             object
device               object
atm                  object
dtype: object

In [160]:
# Convert all features to lower case
for col in data.select_dtypes(include='object').columns.to_list():
    data[col] = data[col].str.lower()

In [161]:
data.dtypes

raw_log              object
user_id              object
timestamp    datetime64[ns]
action               object
amount              float64
currency             object
location             object
device               object
atm                  object
dtype: object

In [162]:
data.head()

,raw_log,user_id,timestamp,action,amount,currency,location,device,atm
0,2025-07-05 19:18:10::user1069::withdrawal::299...,user1069,2025-07-05 19:18:10,withdrawal,2995.12,none,london,iphone 13,NaN
1,usr:user1076|cashout|€4821.85|glasgow|2025-07-...,user1076,2025-07-15 12:56:05,cashout,4821.85,€,glasgow,pixel 6,NaN
2,2025-07-20 05:38:14 >> [user1034] did top-up -...,user1034,2025-07-20 05:38:14,top-up,2191.06,€,none,iphone 13,NaN
3,2025-06-13 10:04:51 >> [user1068] did deposit ...,user1068,2025-06-13 10:04:51,deposit,1691.09,€,glasgow,none,NaN
4,2025-07-29 23:47:37 | user: user1014 | txn: de...,user1014,2025-07-29 23:47:37,deposit,3539.50,£,glasgow,iphone 13,NaN

In [163]:
data = data.sort_values('timestamp').reset_index(drop=True)

In [164]:
data

,raw_log,user_id,timestamp,action,amount,currency,location,device,atm
0,usr:user1093|withdrawal|€4259.25|cardiff|2025-...,user1093,2025-06-01 11:41:41,withdrawal,4259.25,€,cardiff,none,NaN
1,2025-06-01 12:03:31 - user=user1000 - action=c...,user1000,2025-06-01 12:03:31,cashout,2981.21,$,london,samsung galaxy s10,atm
2,usr:user1019|purchase|£4461.41|cardiff|2025-06...,user1019,2025-06-01 12:14:07,purchase,4461.41,£,cardiff,huawei p30,NaN
3,2025-06-01 12:44:19::user1048::deposit::2575.6...,user1048,2025-06-01 12:44:19,deposit,2575.66,none,leeds,iphone 13,NaN
4,01/06/2025 12:48:18 ::: user1014 *** refund ::...,user1014,2025-06-01 12:48:18,refund,3949.98,$,none,huawei p30,NaN
...,...,...,...,...,...,...,...,...,...
7769,user1000 2025-07-31 09:41:19 withdrawal 966.27...,user1000,2025-07-31 09:41:19,withdrawal,966.27,none,glasgow,xiaomi mi 11,NaN
7770,usr:user1077|deposit|€730.81|leeds|2025-07-31 ...,user1077,2025-07-31 09:48:20,deposit,730.81,€,leeds,none,NaN
7771,2025-07-31 09:50:41 | user: user1043 | txn: to...,user1043,2025-07-31 09:50:41,top-up,4718.76,$,liverpool,nokia 3310,NaN
7772,2025-07-31 10:20:49 | user: user1087 | txn: tr...,user1087,2025-07-31 10:20:49,transfer,3756.03,€,manchester,iphone 13,NaN
7773,31/07/2025 11:14:57 ::: user1038 *** debit :::...,user1038,2025-07-31 11:14:57,debit,2646.74,€,leeds,huawei p30,NaN

In [165]:
data['timestamp'].min(), data['timestamp'].max()

(Timestamp('2025-06-01 11:41:41'), Timestamp('2025-07-31 11:14:57'))

In [166]:
data.dtypes

raw_log              object
user_id              object
timestamp    datetime64[ns]
action               object
amount              float64
currency             object
location             object
device               object
atm                  object
dtype: object

In [167]:
# save final clean data
data.to_csv('../fraud_tools_team_ds_test/clean_data.csv', index=False)